<div class="inner-box">{{label?label:name | translate}}</div>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="texture-group">
    <div nz-col class="gutter-row" [nzSpan]="5">
        <div class="inner-box">
            <inp-texture [name]="name" [(value)]="value" [listType]="listType" (subcribe)="onChange($event)" (modalCancelSelect)="onCancel()" (onCloseLibrary)="onCancel()"></inp-texture>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="19">
        <div *ngIf="hasAttach; then attachBlock else simpleBlock"></div>
        <ng-template #attachBlock>
            <inp-range-group 
                [name]="attach.name" 
                [min]="attach.min" 
                [max]="attach.max" 
                [step]="attach.step" 
                [(value)]="attach.value" 
                (subcribe)="onAttachChange($event)" 
            ></inp-range-group>
        </ng-template>
        <ng-template #simpleBlock>
            <span *ngIf="output">{{filename}}</span>
        </ng-template>
        
    </div>

</div>

