#toolview {
    position: absolute;
    right: 40px;
    bottom: 40px;
    .toolview-inner {
        // background-color: #ffffff;
        // padding: 8px 16px;
        button {
            padding: 2px 2px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            color: #3f4652;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: transparent;
            transition: background-color 0.1s ease, width 0.1s ease, opacity 0.1s ease;
            font-size: 1em;
            outline: none;
            box-sizing: border-box;
            line-height: 18px;
            background-color: #ffffff;
            border: 1px solid #ecedee;
            cursor: pointer;
            min-width: 80px;
            font-weight: 700;
            &:hover {
                background-color: #fffeee;
            }
        }
    }
}

.dragging :host #toolview {
    display: none;
}

:host {
    :root {
        --design-zoom: 1;
    }
}
#content {
    height: 100%;
}

app-viewport {
    height: 100%;
}
.list-template {
    height: 100%;
    overflow-y: auto;
    .list-header{
        text-align: center;
        padding: 50px 0;
    }
    .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .template-item {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;

        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;

        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 10px;

        .inner{
            background: #ecedee;
            transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            &:hover{
                box-shadow: 0 0 5px rgb(126, 186, 245);
            }
        }
        .thumbnail{
            min-height: 100px;
            display: flex;
            align-items: center;
            align-content: center;
            img{
                max-width: 100%;
                width: 100%;
                min-height: 100px;
                object-fit: cover;
            }
        }
        .detail{
            padding: 10px;

        }
    }
}
.sidebar-lock{
    display: block;
    position: fixed;
    z-index: 100;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 300px;

    background: rgba(0, 0, 0, 0.4);
    &::after{
        display: table;
        content: " ";
        clear: both;
    }
}

.alert{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
}