/node_modules
/public/hot
/public/storage
/public/static/users/*/
/public/static/assets/*/
/public/static/themes/*/

/public/wp-content/*/
/storage/*.key
/storage/crazy/*
/storage/framework/*
/storage/logs/*
/.vscode/sftp.json
/vendor
/themes/*
/users/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log