.text-center {
  text-align: center !important;
}

.text-md {
  font-size: 16px !important;
}
.py-lg {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.my-md {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}
.p-lg {
  padding: 24px !important;
}
.icon-md {
  font-size: 56px !important;
}
.text-magenta {
  color: #eb2f96 !important;
}
.text-green {
  color: #52c41a !important;
}
.mx-sm {
  margin-right: 8px !important;
}

.ml-sm,
.mx-sm {
  margin-left: 8px !important;
}
