<div class="collapse" [class.expand]="show">
    <div class="collapse-header" (click)="toggle()">
        <h3 class="title">{{title}}</h3>
        <div class="toggle-icon">
            <ng-container *ngIf="show; then showTemplate; else hideTemplate"></ng-container>
            <ng-template #showTemplate>
                <i nz-icon nzType="down" nzTheme="outline"></i>
            </ng-template>
            <ng-template #hideTemplate>
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </ng-template>
        </div>
    </div>
    <div class="collapse-body" *ngIf="show">
        <div class="inputs">
            <inp-text-group class="item-name-group" name="name" label="Mesh Object Name" [(value)]="props.name" (subcribe)="onInputChange($event)"></inp-text-group>
            <div class="inp-list" *ngIf="props">

                <inp-switch-group class="inp-group-item" name="castShadow" [(value)]="props.castShadow" label="Cast Shadow" (subcribe)="onInputChange($event)"></inp-switch-group>

                <inp-switch-group class="inp-group-item" name="receiveShadow" [(value)]="props.receiveShadow" label="Receive Shadow" (subcribe)="onInputChange($event)"></inp-switch-group>

                <inp-vector3-group class="inp-group-item" name="scale" [(value)]="props.scale" label="Scale" (subcribe)="onInputChange($event)"></inp-vector3-group>

                <inp-rotation-group class="inp-group-item" name="rotation" [(value)]="props.rotation" label="Rotation" (subcribe)="onInputChange($event)" [events]="service"></inp-rotation-group>

                <inp-vector3-group class="inp-group-item" name="position" [(value)]="props.position" label="Position" (subcribe)="onInputChange($event)"></inp-vector3-group>

            </div>
        </div>
    </div>
</div>