<div class="drop-elements drop-hover drop-elements-hover">
    <div class="message">
        <div class="message-body">
            <H3 class="message-title">Drop Here</H3>
            <p class="message-content">Thả vào đây!</p>
        </div>
    </div>
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
            <Div class="spinner"></Div>
            <Div class="text">
                <H4 class="title">Đang <Span class="bold">Tải</Span></H4>
            </Div>
        </div>
    </div>
</div>