.crazy-select {
  outline: none;
  position: relative;
}

.crazy-select * {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.crazy-select .p-2 {
  padding: 5px !important;
}

.crazy-select h1,
.crazy-select h2,
.crazy-select h3,
.crazy-select h4,
.crazy-select h5,
.crazy-select h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.crazy-select .h1,
.crazy-select .h2,
.crazy-select .h3,
.crazy-select .h4,
.crazy-select .h5,
.crazy-select .h6,
.crazy-select h1,
.crazy-select h2,
.crazy-select h3,
.crazy-select h4,
.crazy-select h5,
.crazy-select h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.crazy-select .text-with-icon .icon img {
  max-width: 100px;
  max-height: 30px;
  object-fit: cover;
}

.crazy-select .form-control {
  display: block;
  width: 100%;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 1.25;
  height: 40px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.crazy-select .form-control:focus {
  background-color: #fff;
  border-color: #716aca;
  color: #575962;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.crazy-select .form-control,
.crazy-select .form-control[readonly] {
  border-color: #ebedf2;
  color: #575962;
}

.crazy-select .search-block {
  padding: 5px;
}

.crazy-select .search-block [type="search"] {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  overflow: visible;
  outline-offset: -2px;
  -webkit-appearance: none;
  display: block;
}

.crazy-select .btn-dropdown-select {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 15px;
  line-height: 1.25;
  min-height: 40px;
  border-radius: 4px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  cursor: pointer;
  color: #212529;
  background: #fff;
  border-color: #ebedf2;
  -webkit-appearance: button;
  font-size: 14px;
  font-weight: 300;
}

.crazy-select .btn-dropdown-select.active, .crazy-select .btn-dropdown-select:active, .crazy-select .btn-dropdown-select:focus, .crazy-select .btn-dropdown-select:hover:not(:disabled) {
  border-color: #ebedf2;
  background-color: #f4f5f8;
}

.crazy-select .btn-dropdown-select::after {
  width: 6px;
  height: 6px;
  display: inline-block;
  content: " ";
  position: relative;
  border-right: 2px solid #979a9d;
  border-bottom: 2px solid #979a9d;
  transform: rotate(45deg);
  top: -4px;
  margin-left: 5px;
  transition: all 0.4s ease-in;
}

.crazy-select.d-block {
  display: block;
  width: 100%;
}

.crazy-select.d-block .btn-dropdown-select {
  position: relative;
  width: 100%;
  display: block;
}

.crazy-select.d-block .btn-dropdown-select::after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
}

.crazy-select .select-option-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 180px;
  padding: 6px 0;
  margin: 2px 0 0;
  font-size: 14px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
  box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
  display: none;
}

.crazy-select.dis-above .select-option-menu {
  top: auto;
  bottom: 100%;
}

.crazy-select .select-option-header {
  font-weight: 700;
  padding: 8px 15px;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.25;
  color: #6c757d;
  white-space: nowrap;
}

.crazy-select .select-option-header:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.crazy-select h6.select-option-header {
  cursor: default;
}

.crazy-select > .select-option-menu {
  min-width: 100%;
}

.crazy-select > .select-option-menu .message {
  padding: 10px 15px !important;
}

.crazy-select > .select-option-menu a {
  padding: 8px 15px;
}

.crazy-select > .select-option-menu > .option-list {
  max-height: 300px;
  overflow-y: auto;
}

.crazy-select > .select-option-menu > .option-list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.crazy-select > .select-option-menu > .option-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.crazy-select > .select-option-menu > .option-list::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

.crazy-select > .select-option-menu > .option-list .select-option-item {
  display: block;
  width: 100%;
  padding: 8px 15px;
  clear: both;
  font-weight: 400;
  line-height: 1.25;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.crazy-select > .select-option-menu > .option-list .select-option-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.crazy-select > .select-option-menu > .option-list .select-option-item.active, .crazy-select > .select-option-menu > .option-list .select-option-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #36a3f7 !important;
}

.crazy-select > .select-option-menu > .option-list > a.select-option-item {
  padding-left: 15px !important;
}

.crazy-select > .select-option-menu > .option-list > a.select-option-item.select-option-header {
  padding-left: 10px !important;
}

.crazy-select > .select-option-menu > .option-list > .select-option-header {
  padding-left: 10px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > a.select-option-item {
  padding-left: 45px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > a.select-option-item.select-option-header {
  padding-left: 15px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .select-option-header {
  padding-left: 15px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > a.select-option-item {
  padding-left: 65px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 45px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .select-option-header {
  padding-left: 45px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 85px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 65px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 65px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 105px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 85px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 85px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 125px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 105px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 105px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 145px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 125px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 125px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 165px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 145px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 145px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 165px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 145px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 145px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item {
  padding-left: 185px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > a.select-option-item.select-option-header {
  padding-left: 165px !important;
}

.crazy-select > .select-option-menu > .option-list > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .option-group > .select-option-header {
  padding-left: 165px !important;
}

.crazy-select.show .btn-dropdown-select::after {
  transform: rotate(-135deg);
  top: 60%;
}

.crazy-select.show .select-option-menu {
  display: block;
  position: absolute;
  left: 0px;
  will-change: transform;
}

.crazy-payment-methods .crazy-payment-method-description {
  display: none;
  padding-left: 40px;
}

.crazy-payment-methods .crazy-payment-method-description.show {
  display: block;
}

.crazy-bank-select .crazy-select .text-with-icon .icon {
  width: 100px;
  display: inline-block;
  text-align: center;
}

.crazy-bank-select .bank-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 142px;
}

.crazy-bank-select .bank-item label {
  position: relative;
  height: 100px;
  line-height: 100px;
  width: 142px;
  display: block;
  border: 1px solid transparent;
}

.crazy-bank-select .bank-item label img {
  max-width: 140px;
  max-height: 70px;
}

.crazy-bank-select .bank-item label::before {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.crazy-bank-select .bank-item label:hover {
  border: 1px solid gold;
}

.crazy-bank-select .bank-item label:hover::before {
  opacity: 0;
}

.crazy-bank-select .bank-item input[type="radio"] {
  position: absolute;
  top: 00px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
}

.crazy-bank-select .bank-item input[type="radio"]:checked + label {
  border: 1px solid gold;
  background: #eeaeca;
  background: radial-gradient(circle, rgba(238, 174, 202, 0.403799) 0%, #c0daf9 100%);
}

.crazy-bank-select .bank-item input[type="radio"]:checked + label::before, .crazy-bank-select .bank-item input[type="radio"]:checked + label:hover::before {
  background: rgba(255, 255, 255, 0);
  border-top: none;
  border-left: none;
  border-right: 4px solid rgba(0, 200, 0, 0.8);
  border-bottom: 4px solid green;
  transform: rotate(45deg);
  bottom: auto;
  right: auto;
  top: 0px;
  left: 4px;
  width: 10px;
  height: 15px;
  opacity: 1;
}

.crazy-error {
  padding: 10px;
  color: tomato;
}
