@media screen and (max-width: 576px){
    #title-form-group,
    #description-form-group,
    #image-form-group,
    #tag-form-group
    {
        .input-group{
            display: block !important;
            &>.custom-file, &>.custom-select, &>.form-control{
                width: 100% !important;
            }
            &>.input-group-append{
                margin-top: 5px;
            }
        }
    }
}