.dropzone-gallery, .dropzone-gallery *,
.results .gallery-images, .results .gallery-images * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dropzone-gallery, .results .gallery-images, .filemanager-dropzone-upload {
  min-height: 150px;
  background: #fff;
  padding: 20px 20px;
}

.dropzone-gallery.dz-clickable, .results .gallery-images.dz-clickable, .filemanager-dropzone-upload.dz-clickable {
  cursor: pointer;
}

.dropzone-gallery.dz-clickable *, .results .gallery-images.dz-clickable *, .filemanager-dropzone-upload.dz-clickable * {
  cursor: default;
}

.dropzone-gallery.dz-clickable .dz-message, .dropzone-gallery.dz-clickable .dz-message *, .results .gallery-images.dz-clickable .dz-message, .results .gallery-images.dz-clickable .dz-message *, .filemanager-dropzone-upload.dz-clickable .dz-message, .filemanager-dropzone-upload.dz-clickable .dz-message * {
  cursor: pointer;
}

.dropzone-gallery.dz-started .dz-message, .results .gallery-images.dz-started .dz-message, .filemanager-dropzone-upload.dz-started .dz-message {
  display: none;
}

.dropzone-gallery.dz-drag-hover, .results .gallery-images.dz-drag-hover, .filemanager-dropzone-upload.dz-drag-hover {
  border-style: solid;
}

.dropzone-gallery.dz-drag-hover .dz-message, .results .gallery-images.dz-drag-hover .dz-message, .filemanager-dropzone-upload.dz-drag-hover .dz-message {
  opacity: .5;
}

.dropzone-gallery .dz-message, .results .gallery-images .dz-message, .filemanager-dropzone-upload .dz-message {
  text-align: center;
  margin: 2em 0;
}

.dropzone-gallery .dz-preview, .results .gallery-images .dz-preview, .filemanager-dropzone-upload .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}

.dropzone-gallery .dz-preview:hover, .results .gallery-images .dz-preview:hover, .filemanager-dropzone-upload .dz-preview:hover {
  z-index: 1000;
}

.dropzone-gallery .dz-preview:hover .dz-details, .results .gallery-images .dz-preview:hover .dz-details, .filemanager-dropzone-upload .dz-preview:hover .dz-details {
  opacity: 1;
}

.dropzone-gallery .dz-preview.dz-file-preview .dz-image, .results .gallery-images .dz-preview.dz-file-preview .dz-image, .filemanager-dropzone-upload .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone-gallery .dz-preview.dz-file-preview .dz-details, .results .gallery-images .dz-preview.dz-file-preview .dz-details, .filemanager-dropzone-upload .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.dropzone-gallery .dz-preview.dz-file-preview, .dropzone-gallery .dz-preview.dz-image-preview, .results .gallery-images .dz-preview.dz-file-preview, .results .gallery-images .dz-preview.dz-image-preview, .filemanager-dropzone-upload .dz-preview.dz-file-preview, .filemanager-dropzone-upload .dz-preview.dz-image-preview {
  background: #fff;
}

.dropzone-gallery .dz-preview.dz-image-preview .dz-details, .results .gallery-images .dz-preview.dz-image-preview .dz-details, .filemanager-dropzone-upload .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.dropzone-gallery .dz-preview .dz-remove, .results .gallery-images .dz-preview .dz-remove, .filemanager-dropzone-upload .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.dropzone-gallery .dz-preview .dz-remove:hover, .results .gallery-images .dz-preview .dz-remove:hover, .filemanager-dropzone-upload .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

.dropzone-gallery .dz-preview:hover .dz-details, .results .gallery-images .dz-preview:hover .dz-details, .filemanager-dropzone-upload .dz-preview:hover .dz-details {
  opacity: 1;
}

.dropzone-gallery .dz-preview .dz-details, .results .gallery-images .dz-preview .dz-details, .filemanager-dropzone-upload .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.dropzone-gallery .dz-preview .dz-details .dz-size, .results .gallery-images .dz-preview .dz-details .dz-size, .filemanager-dropzone-upload .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

.dropzone-gallery .dz-preview .dz-details .dz-filename, .results .gallery-images .dz-preview .dz-details .dz-filename, .filemanager-dropzone-upload .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.dropzone-gallery .dz-preview .dz-details .dz-filename:hover span, .results .gallery-images .dz-preview .dz-details .dz-filename:hover span, .filemanager-dropzone-upload .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.dropzone-gallery .dz-preview .dz-details .dz-filename:not(:hover), .results .gallery-images .dz-preview .dz-details .dz-filename:not(:hover), .filemanager-dropzone-upload .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropzone-gallery .dz-preview .dz-details .dz-filename:not(:hover) span, .results .gallery-images .dz-preview .dz-details .dz-filename:not(:hover) span, .filemanager-dropzone-upload .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

.dropzone-gallery .dz-preview .dz-details .dz-size span, .dropzone-gallery .dz-preview .dz-details .dz-filename span, .results .gallery-images .dz-preview .dz-details .dz-size span, .results .gallery-images .dz-preview .dz-details .dz-filename span, .filemanager-dropzone-upload .dz-preview .dz-details .dz-size span, .filemanager-dropzone-upload .dz-preview .dz-details .dz-filename span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 .4em;
  border-radius: 3px;
}

.dropzone-gallery .dz-preview:hover .dz-image img, .results .gallery-images .dz-preview:hover .dz-image img, .filemanager-dropzone-upload .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.dropzone-gallery .dz-preview .dz-image, .results .gallery-images .dz-preview .dz-image, .filemanager-dropzone-upload .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

.dropzone-gallery .dz-preview .dz-image img, .results .gallery-images .dz-preview .dz-image img, .filemanager-dropzone-upload .dz-preview .dz-image img {
  display: block;
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.dropzone-gallery .dz-preview.dz-success .dz-success-mark, .results .gallery-images .dz-preview.dz-success .dz-success-mark, .filemanager-dropzone-upload .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone-gallery .dz-preview.dz-error .dz-error-mark, .results .gallery-images .dz-preview.dz-error .dz-error-mark, .filemanager-dropzone-upload .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone-gallery .dz-preview.dz-error .dz-error-message, .results .gallery-images .dz-preview.dz-error .dz-error-message, .filemanager-dropzone-upload .dz-preview.dz-error .dz-error-message {
  display: block;
}

.dropzone-gallery .dz-preview.dz-error:hover .dz-error-message, .results .gallery-images .dz-preview.dz-error:hover .dz-error-message, .filemanager-dropzone-upload .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

.dropzone-gallery .dz-preview .dz-error-mark, .dropzone-gallery .dz-preview .dz-success-mark, .results .gallery-images .dz-preview .dz-error-mark, .results .gallery-images .dz-preview .dz-success-mark, .filemanager-dropzone-upload .dz-preview .dz-error-mark, .filemanager-dropzone-upload .dz-preview .dz-success-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 60px;
  left: 60px;
  margin-left: -27px;
  margin-top: -27px;
}

.dropzone-gallery .dz-preview .dz-error-mark svg, .dropzone-gallery .dz-preview .dz-success-mark svg, .results .gallery-images .dz-preview .dz-error-mark svg, .results .gallery-images .dz-preview .dz-success-mark svg, .filemanager-dropzone-upload .dz-preview .dz-error-mark svg, .filemanager-dropzone-upload .dz-preview .dz-success-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

.dropzone-gallery .dz-preview.dz-processing .dz-progress, .results .gallery-images .dz-preview.dz-processing .dz-progress, .filemanager-dropzone-upload .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.dropzone-gallery .dz-preview.dz-complete .dz-progress, .results .gallery-images .dz-preview.dz-complete .dz-progress, .filemanager-dropzone-upload .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}

.dropzone-gallery .dz-preview:not(.dz-processing) .dz-progress, .results .gallery-images .dz-preview:not(.dz-processing) .dz-progress, .filemanager-dropzone-upload .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

.dropzone-gallery .dz-preview .dz-progress, .results .gallery-images .dz-preview .dz-progress, .filemanager-dropzone-upload .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.dropzone-gallery .dz-preview .dz-progress .dz-upload, .results .gallery-images .dz-preview .dz-progress .dz-upload, .filemanager-dropzone-upload .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.dropzone-gallery .dz-preview .dz-error-message, .results .gallery-images .dz-preview .dz-error-message, .filemanager-dropzone-upload .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  border-radius: 8px;
  font-size: 13px;
  bottom: 135px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: -webkit-gradient(linear, left top, left bottom, from(#be2626), to(#a92222));
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: .5em 1.2em;
  color: #fff;
}

.dropzone-gallery .dz-preview .dz-error-message:after, .results .gallery-images .dz-preview .dz-error-message:after, .filemanager-dropzone-upload .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #be2626;
}

.dropzone-gallery .dz-preview .dz-outer-filename, .results .gallery-images .dz-preview .dz-outer-filename, .filemanager-dropzone-upload .dz-preview .dz-outer-filename {
  width: 120px;
  overflow: hidden;
  word-wrap: break-word;
}

.gallery-body .results {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 15px;
}

.gallery-body .results .gallery-images {
  text-align: center;
}

.gallery-body .results .gallery-images .dz-preview {
  cursor: pointer;
}

.gallery-body .results .gallery-images .dz-preview .btn-remove-image-file {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  z-index: 100;
  opacity: 0.3;
}

.gallery-body .results .gallery-images .dz-preview .btn-remove-image-file svg {
  width: 22px;
  height: 22px;
}

.gallery-body .results .gallery-images .dz-preview .dz-success-mark {
  cursor: pointer;
}

.gallery-body .results .gallery-images .dz-preview:hover .btn-remove-image-file {
  opacity: 0.7;
}

.gallery-body .results .gallery-images .dz-preview:hover .btn-remove-image-file:hover {
  opacity: 1;
}

.gallery-body .results .gallery-images .dz-preview.selected .dz-success-mark {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
}

.gallery-body .results .gallery-images .dz-preview.selected .dz-details, .gallery-body .results .gallery-images .dz-preview.selected:hover .dz-details {
  opacity: 0;
}

.gallery-body .results .gallery-images .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.gallery-body .results .gallery-images .dz-preview .dz-details .dz-filename:hover {
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-body .results .gallery-images .dz-preview .dz-details .dz-filename:hover span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 .4em;
  border-radius: 3px;
  border: 1px solid transparent;
}

.gallery-body .message {
  text-align: center;
}

.gallery-modal .m-portlet {
  margin-bottom: 0 !important;
}

.gallery-modal .m-portlet .m-portlet__body {
  padding: 0 0 !important;
}

.gallery-modal .m-portlet .footer-buttons {
  padding: 15px;
  border-top: 1px solid #ebedf2;
  text-align: right;
}

.gallery-modal .m-portlet .upload-block {
  padding: 20px;
}
