.dropzone-library, .dropzone-library *,
.results .library-images, .results .library-images * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.dropzone-library, .results .library-images {
    min-height: 150px;
    // border: 2px solid rgba(0, 0, 0, .3);
    background: #fff;
    padding: 20px 0px;
    &.dz-clickable {
        cursor: pointer;
    }
    &.dz-clickable * {
        cursor: default
    }
    &.dz-clickable{
        .dz-message, .dz-message * {
            cursor: pointer;
        }
    }
    &.dz-started .dz-message {
        display: none
    }
    &.dz-drag-hover {
        border-style: solid;
        .dz-message {
            opacity: .5
        }
    }
    .dz-message {
        text-align: center;
        margin: 2em 0;
    }
    .dz-preview {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 16px 14px;
        min-height: 100px;
        &:hover {
            z-index: 1000;
            .dz-details {
                opacity: 1
            }
        }
        &.dz-file-preview{
            .dz-image {
                border-radius: 20px;
                background: #999;
                background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
                background: linear-gradient(to bottom, #eee, #ddd);
            }
            .dz-details {
                opacity: 1
            }

        }
        &.dz-file-preview, &.dz-image-preview {
            background: #fff
        }
        &.dz-image-preview {
            .dz-details {
                -webkit-transition: opacity .2s linear;
                transition: opacity .2s linear
            }
        }
        .dz-remove {
            font-size: 14px;
            text-align: center;
            display: block;
            cursor: pointer;
            border: none;
            &:hover {
                text-decoration: underline
            }
        }

        &:hover{
            .dz-details {
                opacity: 1
            }

        }

        .dz-details {
            z-index: 20;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            font-size: 13px;
            min-width: 100%;
            max-width: 100%;
            padding: 2em 1em;
            text-align: center;
            color: rgba(0, 0, 0, .9);
            line-height: 150%;
            .dz-size {
                margin-bottom: 1em;
                font-size: 16px
            }
            .dz-filename {
                white-space: nowrap;
                &:hover{
                    span {
                        border: 1px solid rgba(200, 200, 200, .8);
                        background-color: rgba(255, 255, 255, .8)
                    }
                }
                &:not(:hover) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span {
                        border: 1px solid transparent
                    }
                }

            }
            .dz-size, .dz-filename{
                span {
                    background-color: rgba(255, 255, 255, .4);
                    padding: 0 .4em;
                    border-radius: 3px
                }

            }
        } // end detail

        &:hover{
            .dz-image img {
                -webkit-transform: scale(1.05, 1.05);
                transform: scale(1.05, 1.05);
                -webkit-filter: blur(8px);
                filter: blur(8px);
            }
        }
        .dz-image {
            border-radius: 20px;
            overflow: hidden;
            width: 120px;
            height: 120px;
            position: relative;
            display: block;
            z-index: 10;
            img {
                display: block;
                object-fit: cover;
                width: 120px;
                height: 120px;
            }
        }

        &.dz-success {
            .dz-success-mark {
                -webkit-animation: passing-through 3s cubic-bezier(.77, 0, .175, 1);
                animation: passing-through 3s cubic-bezier(.77, 0, .175, 1)
            }
        }
        &.dz-error {
            .dz-error-mark {
                opacity: 1;
                -webkit-animation: slide-in 3s cubic-bezier(.77, 0, .175, 1);
                animation: slide-in 3s cubic-bezier(.77, 0, .175, 1)
            }
            .dz-error-message {
                display: block;
            }
            &:hover{
                .dz-error-message {
                    opacity: 1;
                    pointer-events: auto
                }
            }
        }
        .dz-error-mark, .dz-success-mark {
            pointer-events: none;
            opacity: 0;
            z-index: 500;
            position: absolute;
            display: block;
            top: 60px;
            left: 60px;
            margin-left: -27px;
            margin-top: -27px;
            svg {
                display: block;
                width: 54px;
                height: 54px
            }
        }
        &.dz-processing {
            .dz-progress {
                opacity: 1;
                -webkit-transition: all .2s linear;
                transition: all .2s linear
            }
        }
        &.dz-complete {
            .dz-progress {
                opacity: 0;
                -webkit-transition: opacity .4s ease-in;
                transition: opacity .4s ease-in
            }
        }
        &:not(.dz-processing) {
            .dz-progress {
                -webkit-animation: pulse 6s ease infinite;
                animation: pulse 6s ease infinite
            }
        }
        .dz-progress {
            opacity: 1;
            z-index: 1000;
            pointer-events: none;
            position: absolute;
            height: 16px;
            left: 50%;
            top: 50%;
            margin-top: -8px;
            width: 80px;
            margin-left: -40px;
            background: rgba(255, 255, 255, .9);
            -webkit-transform: scale(1);
            border-radius: 8px;
            overflow: hidden;
            .dz-upload {
                background: #333;
                background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
                background: linear-gradient(to bottom, #666, #444);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                -webkit-transition: width .3s ease-in-out;
                transition: width .3s ease-in-out
            }
        }
        .dz-error-message {
            pointer-events: none;
            z-index: 1000;
            position: absolute;
            display: block;
            display: none;
            opacity: 0;
            -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
            border-radius: 8px;
            font-size: 13px;
            bottom: 130px;
            left: -10px;
            width: 140px;
            background: #be2626;
            background: -webkit-gradient(linear, left top, left bottom, from(#be2626), to(#a92222));
            background: linear-gradient(to bottom, #be2626, #a92222);
            padding: .5em 1.2em;
            color: #fff;
            &:after {
                content: '';
                position: absolute;
                top: -6px;
                left: 64px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #be2626
            }

        }
        .dz-outer-filename{
            width: 120px;
            overflow: hidden;
            word-wrap: break-word;
        }


    } // end .preview
}


.library-body{
    .results {
        max-height: 480px;
        padding-left: 15px;
        padding-right: 15px;
        #image-list{
            max-height: 480px;
            overflow-y: auto;
            padding-bottom: 15px;
            .dz-image{
                background: #f3f3f3;
            }
        }
        #image-list, #image-preview{
            transition: all 0.3s;
        }
        #image-preview{
            background: #f3f3f3;
            .preview-detail{
                padding-top: 15px;
            }
            img{
                max-width: 100%;
                max-height: 200px;
            }
        }
        .library-images{
            text-align: center;
            .dz-preview{
                cursor: pointer;
                .btn-remove-image-file{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    display: block;
                    z-index: 100;
                    opacity: 0.3;
                    svg{
                        width: 22px;
                        height: 22px;
                    }
                }
                .dz-success-mark{
                    cursor: pointer;
                }
                &:hover{
                    .btn-remove-image-file{
                        opacity: 0.7;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
                &.selected{
                    .dz-success-mark{
                        opacity: 1;
                        z-index: 100;
                        cursor: pointer;
                    }
                    .dz-details, &:hover .dz-details{
                        opacity: 0;
                    }
                }
                .dz-details {
                    .dz-filename {
                        white-space: nowrap;
                        &:hover{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            span {
                                background-color: rgba(255, 255, 255, .4);
                                padding: 0 .4em;
                                border-radius: 3px;
                                border: 1px solid transparent
                            }
                        }

                    }
                } // end detail

            }

        }
        @media screen and (min-width: 1100px){
            .library-images{
                text-align: left;
            }
        }
    }
    .message{
        text-align: center;
    }
}



.library-modal {

    .modal-dialog {
        max-width: 866px;
        margin: 3rem auto 0 auto;
    }

    @media screen and (min-width: 880px){

        .modal-dialog {
            max-width: 860px;
            margin: 3rem auto 0 auto;
        }

    }
    @media screen and (min-width: 1200px){

        .modal-dialog {
            max-width: 1120px;
            margin: 1rem auto 0 auto;
        }

    }

    @media screen and (min-width: 1366px){

        .modal-dialog {
            max-width: 1260px;
        }

    }

    @media screen and (min-width: 1600px){

        .modal-dialog {
            max-width: 1560px;
        }

    }
    .m-portlet{
        margin-bottom: 0 !important;
        .m-portlet__body{
            padding: 0 0 !important;
        }
        .footer-buttons{
            padding: 15px;
            border-top: 1px solid #ebedf2;
            text-align: right;
        }
        .upload-block{
            padding: 20px;
        }
    }

}
.col-0{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
    padding: 0 0 0 0 !important;
}

