<div class="group-first">
	<!-- <a [routerLink]="['/']">
		<img class="logo" src="/assets/images/logo-header.svg" alt="Cretip logo" />
	</a> -->

	<a href="{link}" target="_blank">
		<img class="logo" src="{{logo}}" alt="Cretip logo" />
	</a>
	<div class="group-center">
		<!-- <button class="btn btn-ghost btn-icon" nz-button nzType="text" (click)="onClickUndo()">
			<img src="/assets/icons/new-design/header/undo.svg" />
		</button>
		<button class="btn btn-ghost btn-icon" nz-button nzType="text" (click)="onClickRedo()">
			<img src="/assets/icons/new-design/header/redo.svg" />
		</button> -->

		
	</div>
</div>

<div class="group-last">
	<!-- <a class="btn btn-ghost btn-icon" nz-button nzType="text" style="margin-right: 32px" href="{{downloadUrl}}" (click)="download($event)">
		<img src="/assets/icons/new-design/header/download.svg" />
		<span>Download</span>
		
	</a> -->
	<button class="btn btn-primary btn-icon" nz-button nzType="text" (click)="save($event)">
		<img src="/assets/icons/new-design/header/save.svg" />
		<span>Save</span>
	</button>
	<!-- <nz-avatar nzText="U" [nzSize]="28" style="color: #4ef; background-color: #fde3cf"></nz-avatar> -->
</div>