.input-group{
    margin: 10px auto;
    border-top: 1px solid #ababab;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-right{
    text-align: right !important;
}
.text-group{
    .input-wrapper{
        margin-top: 5px;
    }
}