.panel{
    max-width: 380px;
    min-width: 380px;
    width: 380px;
    position: absolute;
    background: #20242d;
    transition: all 0.2s;
    top: 56px;
    left: 0;
    bottom: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
    h1, h2, h3, h4, h5, h6{
        color: #fff;
    }
    
}

.panel-body{
    display: flex;
    flex: none;
    height: calc(100% - 92px);
    width: 100%;
    background-color: #363d4b;
    color: #fff;
    overflow-y: hidden;
    &>div, .w100{
        width: 100%;
    }
    .ant-divider-horizontal.ant-divider-with-text{
        color: #fff;
    }

    .container{
        padding-top: 15px;
        padding-bottom: 20px;
    }
}
.panel-footer{
    height: 44px;
    display: flex;
    flex: none;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-top: -20px;
    background: #20242d;
    z-index: 100;
    h3{
        color: #fff;
        // line-height: 48px;
        font-size: 18px;
        margin: 0;
        padding-left: 12px;
    }
    .buttons{
        cursor: pointer;
        margin-left: auto;
        margin-right: 9px;
        font-size: 24px;
        color: #fafafa;
        // background: #88231f;
        margin-right: 12px;
        &:hover{
            // background-color: #c02b2b;
            color: #fff;
        }
    }
}