.input-gallery .gallery-images, .input-gallery .gallery-images * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-gallery .gallery-images {
  text-align: center;
  min-height: 150px;
  max-height: 320px;
  overflow-y: auto;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.input-gallery .gallery-images .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  min-height: 100px;
  cursor: pointer;
}

.input-gallery .gallery-images .dz-preview .btn-remove-file {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  z-index: 100;
  opacity: 0.3;
}

.input-gallery .gallery-images .dz-preview .btn-remove-file svg {
  width: 22px;
  height: 22px;
}

.input-gallery .gallery-images .dz-preview:hover {
  z-index: 1000;
}

.input-gallery .gallery-images .dz-preview:hover .dz-details {
  opacity: 1;
}

.input-gallery .gallery-images .dz-preview:hover .btn-remove-file {
  opacity: 0.7;
}

.input-gallery .gallery-images .dz-preview:hover .btn-remove-file:hover {
  opacity: 1;
}

.input-gallery .gallery-images .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background: linear-gradient(to bottom, #eee, #ddd);
}

.input-gallery .gallery-images .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.input-gallery .gallery-images .dz-preview.dz-file-preview, .input-gallery .gallery-images .dz-preview.dz-image-preview {
  background: #fff;
}

.input-gallery .gallery-images .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.input-gallery .gallery-images .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.input-gallery .gallery-images .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

.input-gallery .gallery-images .dz-preview:hover .dz-details {
  opacity: 1;
}

.input-gallery .gallery-images .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-filename:hover {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-filename:hover span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 .4em;
  border-radius: 3px;
  border: 1px solid transparent;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

.input-gallery .gallery-images .dz-preview .dz-details .dz-size span, .input-gallery .gallery-images .dz-preview .dz-details .dz-filename span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 .4em;
  border-radius: 3px;
}

.input-gallery .gallery-images .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.input-gallery .gallery-images .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

.input-gallery .gallery-images .dz-preview .dz-image img {
  display: block;
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.input-gallery .drag-and-drop {
  border: 2px dotted #c7cbd4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.1);
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.1);
}

.input-gallery .drag-and-drop label {
  display: block;
  padding: 50px 0;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 0;
}

.input-gallery .drag-and-drop.is-dragover {
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 110, 255, 0.2);
  box-shadow: 0 0 15px 1px rgba(0, 110, 255, 0.2);
}

.input-gallery .drag-and-drop:hover {
  border-color: #0a8cf0;
  background: #f8f8f8;
}

.input-gallery .gallery-hidden-input-group {
  display: none;
}
