<div class="input-group text-group">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <div class="inner-box">{{label?label:name | translate}}</div>
        </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="input-wrapper">
        <div nz-col class="gutter-row" [nzSpan]="16">
            <nz-slider [name]="name" [nzMin]="min" [nzMax]="max" [nzStep]="step" [(ngModel)]="value" (ngModelChange)="valChange($event)"></nz-slider>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="8">
            <div class="inner-box">
                <nz-input-number [name]="name" [nzMin]="min" [nzMax]="max" [nzStep]="step" [(ngModel)]="value" (ngModelChange)="valChange($event)" [ngStyle]="{ marginLeft: '0px' }"></nz-input-number>
            </div>
        </div>
    </div>
</div>