@import './pro.scss';

.ant-layout {
  background-color: #fff;
}

.ant-layout-header {
  background-color: #fff;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #262626 !important;
  font-weight: 500;
}
