<div class="frame">
    <canvas-layer [app]="app3D" [canvas]="canvas" *ngIf="canvas"></canvas-layer>
    <img src="{{previewImage}}" alt="" class="preview-image">

    <foreground-layer></foreground-layer>


</div>
<droppable-layer [class.active1]="droppable"></droppable-layer>
<viewport-loading-layer></viewport-loading-layer>
<div class="mask-wrapper">
    <div class="mask-layer" 
        (contextmenu)="transferEvent($event)" 
        (pointerdown)="transferEvent($event)" 
        (pointermove)="transferEvent($event)" 
        (wheel)="transferEvent($event)" 
        (touchstart)="transferEvent($event)" 
        (touchend)="transferEvent($event)"
        (touchmove)="transferEvent($event)" 
        (keydown)="transferEvent($event)" 
    ></div>

</div>
<app-vector-controls></app-vector-controls>
<viewport-editor-toolbar></viewport-editor-toolbar>
<client-viewport-edit-toolbar></client-viewport-edit-toolbar>