.frame{
    max-height: 500px;
    overflow: auto;
    position: relative;
}

.viewport-container{
    position: relative;
}


foreground-layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 111;
}