<div class="panel inner-layout" *ngIf="isShow">
    <div class="panel-body">

        <nz-tabset [nzSelectedIndex]="currentTab" nzTabPosition="top" nzType="line" class="main-tab w100" (nzSelectChange)="onChangeTab($event)">
            <nz-tab [nzTitle]="iconMaterial">
                <ng-template #iconMaterial>
                    Material
                </ng-template>
                <mesh-geometry-tab-material [material]="mesh.material" [(settings)]="data.material" (subcribe)="onMaterialChange($event)"></mesh-geometry-tab-material>
            </nz-tab>

            <nz-tab [nzTitle]="iconGeometry">
                <ng-template #iconGeometry>
                    Geometry
                </ng-template>
                <ng-template nz-tab>
                    <mesh-geometry-tab-geometry [inputs]="geoInputs" (subcribe)="onGeometryParamChange($event)"></mesh-geometry-tab-geometry>
                </ng-template>
            </nz-tab>


            <nz-tab [nzTitle]="iconProperties">
                <ng-template #iconProperties>
                    Properties
                </ng-template>
                <ng-template nz-tab>

                    <mesh-geometry-tab-properties [(props)]="props" (subcribe)="updateProps($event)" [events]="_service"></mesh-geometry-tab-properties>
                </ng-template>
            </nz-tab>


        </nz-tabset>
    </div>



    <div class="panel-footer">
        <h3>{{"Actions" | translate}}</h3>
        <div class="buttons">
            <button nz-button nzType="primary" (click)="onDone()">{{btnDoneText}}</button>


        </div>
    </div>

</div>