.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.fs-43 {
  font-size: 43px;
}

.fs-44 {
  font-size: 44px;
}

.fs-45 {
  font-size: 45px;
}

.fs-46 {
  font-size: 46px;
}

.fs-47 {
  font-size: 47px;
}

.fs-48 {
  font-size: 48px;
}

.fs-49 {
  font-size: 49px;
}

.fs-50 {
  font-size: 50px;
}

.fs-51 {
  font-size: 51px;
}

.fs-52 {
  font-size: 52px;
}

.fs-53 {
  font-size: 53px;
}

.fs-54 {
  font-size: 54px;
}

.fs-55 {
  font-size: 55px;
}

.fs-56 {
  font-size: 56px;
}

.fs-57 {
  font-size: 57px;
}

.fs-58 {
  font-size: 58px;
}

.fs-59 {
  font-size: 59px;
}

.fs-60 {
  font-size: 60px;
}

.fs-61 {
  font-size: 61px;
}

.fs-62 {
  font-size: 62px;
}

.fs-63 {
  font-size: 63px;
}

.fs-64 {
  font-size: 64px;
}

.fs-65 {
  font-size: 65px;
}

.fs-66 {
  font-size: 66px;
}

.fs-67 {
  font-size: 67px;
}

.fs-68 {
  font-size: 68px;
}

.fs-69 {
  font-size: 69px;
}

.fs-70 {
  font-size: 70px;
}

.fs-71 {
  font-size: 71px;
}

.max-5 {
  max-width: 5px;
}

.min-5 {
  min-width: 5px;
}

.w-5px {
  width: 5px;
}

.w-5pc {
  width: 5%;
}

.max-5pc {
  max-width: 5%;
}

.min-5pc {
  min-width: 5%;
}

.max-10 {
  max-width: 10px;
}

.min-10 {
  min-width: 10px;
}

.w-10px {
  width: 10px;
}

.w-10pc {
  width: 10%;
}

.max-10pc {
  max-width: 10%;
}

.min-10pc {
  min-width: 10%;
}

.max-15 {
  max-width: 15px;
}

.min-15 {
  min-width: 15px;
}

.w-15px {
  width: 15px;
}

.w-15pc {
  width: 15%;
}

.max-15pc {
  max-width: 15%;
}

.min-15pc {
  min-width: 15%;
}

.max-20 {
  max-width: 20px;
}

.min-20 {
  min-width: 20px;
}

.w-20px {
  width: 20px;
}

.w-20pc {
  width: 20%;
}

.max-20pc {
  max-width: 20%;
}

.min-20pc {
  min-width: 20%;
}

.max-25 {
  max-width: 25px;
}

.min-25 {
  min-width: 25px;
}

.w-25px {
  width: 25px;
}

.w-25pc {
  width: 25%;
}

.max-25pc {
  max-width: 25%;
}

.min-25pc {
  min-width: 25%;
}

.max-30 {
  max-width: 30px;
}

.min-30 {
  min-width: 30px;
}

.w-30px {
  width: 30px;
}

.w-30pc {
  width: 30%;
}

.max-30pc {
  max-width: 30%;
}

.min-30pc {
  min-width: 30%;
}

.max-35 {
  max-width: 35px;
}

.min-35 {
  min-width: 35px;
}

.w-35px {
  width: 35px;
}

.w-35pc {
  width: 35%;
}

.max-35pc {
  max-width: 35%;
}

.min-35pc {
  min-width: 35%;
}

.max-40 {
  max-width: 40px;
}

.min-40 {
  min-width: 40px;
}

.w-40px {
  width: 40px;
}

.w-40pc {
  width: 40%;
}

.max-40pc {
  max-width: 40%;
}

.min-40pc {
  min-width: 40%;
}

.max-45 {
  max-width: 45px;
}

.min-45 {
  min-width: 45px;
}

.w-45px {
  width: 45px;
}

.w-45pc {
  width: 45%;
}

.max-45pc {
  max-width: 45%;
}

.min-45pc {
  min-width: 45%;
}

.max-50 {
  max-width: 50px;
}

.min-50 {
  min-width: 50px;
}

.w-50px {
  width: 50px;
}

.w-50pc {
  width: 50%;
}

.max-50pc {
  max-width: 50%;
}

.min-50pc {
  min-width: 50%;
}

.max-55 {
  max-width: 55px;
}

.min-55 {
  min-width: 55px;
}

.w-55px {
  width: 55px;
}

.w-55pc {
  width: 55%;
}

.max-55pc {
  max-width: 55%;
}

.min-55pc {
  min-width: 55%;
}

.max-60 {
  max-width: 60px;
}

.min-60 {
  min-width: 60px;
}

.w-60px {
  width: 60px;
}

.w-60pc {
  width: 60%;
}

.max-60pc {
  max-width: 60%;
}

.min-60pc {
  min-width: 60%;
}

.max-65 {
  max-width: 65px;
}

.min-65 {
  min-width: 65px;
}

.w-65px {
  width: 65px;
}

.w-65pc {
  width: 65%;
}

.max-65pc {
  max-width: 65%;
}

.min-65pc {
  min-width: 65%;
}

.max-70 {
  max-width: 70px;
}

.min-70 {
  min-width: 70px;
}

.w-70px {
  width: 70px;
}

.w-70pc {
  width: 70%;
}

.max-70pc {
  max-width: 70%;
}

.min-70pc {
  min-width: 70%;
}

.max-75 {
  max-width: 75px;
}

.min-75 {
  min-width: 75px;
}

.w-75px {
  width: 75px;
}

.w-75pc {
  width: 75%;
}

.max-75pc {
  max-width: 75%;
}

.min-75pc {
  min-width: 75%;
}

.max-80 {
  max-width: 80px;
}

.min-80 {
  min-width: 80px;
}

.w-80px {
  width: 80px;
}

.w-80pc {
  width: 80%;
}

.max-80pc {
  max-width: 80%;
}

.min-80pc {
  min-width: 80%;
}

.max-85 {
  max-width: 85px;
}

.min-85 {
  min-width: 85px;
}

.w-85px {
  width: 85px;
}

.w-85pc {
  width: 85%;
}

.max-85pc {
  max-width: 85%;
}

.min-85pc {
  min-width: 85%;
}

.max-90 {
  max-width: 90px;
}

.min-90 {
  min-width: 90px;
}

.w-90px {
  width: 90px;
}

.w-90pc {
  width: 90%;
}

.max-90pc {
  max-width: 90%;
}

.min-90pc {
  min-width: 90%;
}

.max-95 {
  max-width: 95px;
}

.min-95 {
  min-width: 95px;
}

.w-95px {
  width: 95px;
}

.w-95pc {
  width: 95%;
}

.max-95pc {
  max-width: 95%;
}

.min-95pc {
  min-width: 95%;
}

.max-100 {
  max-width: 100px;
}

.min-100 {
  min-width: 100px;
}

.w-100px {
  width: 100px;
}

.w-100pc {
  width: 100%;
}

.max-100pc {
  max-width: 100%;
}

.min-100pc {
  min-width: 100%;
}

.max-120 {
  max-width: 120px;
}

.min-120 {
  min-width: 120px;
}

.w-120px {
  width: 120px;
}

.max-150 {
  max-width: 150px;
}

.min-150 {
  min-width: 150px;
}

.w-150px {
  width: 150px;
}

.max-180 {
  max-width: 180px;
}

.min-180 {
  min-width: 180px;
}

.w-180px {
  width: 180px;
}

.max-200 {
  max-width: 200px;
}

.min-200 {
  min-width: 200px;
}

.w-200px {
  width: 200px;
}

.max-240 {
  max-width: 240px;
}

.min-240 {
  min-width: 240px;
}

.w-240px {
  width: 240px;
}

.max-250 {
  max-width: 250px;
}

.min-250 {
  min-width: 250px;
}

.w-250px {
  width: 250px;
}

.max-300 {
  max-width: 300px;
}

.min-300 {
  min-width: 300px;
}

.w-300px {
  width: 300px;
}

.max-320 {
  max-width: 320px;
}

.min-320 {
  min-width: 320px;
}

.w-320px {
  width: 320px;
}

.max-360 {
  max-width: 360px;
}

.min-360 {
  min-width: 360px;
}

.w-360px {
  width: 360px;
}

.max-400 {
  max-width: 400px;
}

.min-400 {
  min-width: 400px;
}

.w-400px {
  width: 400px;
}

.max-460 {
  max-width: 460px;
}

.min-460 {
  min-width: 460px;
}

.w-460px {
  width: 460px;
}

.max-480 {
  max-width: 480px;
}

.min-480 {
  min-width: 480px;
}

.w-480px {
  width: 480px;
}

.max-500 {
  max-width: 500px;
}

.min-500 {
  min-width: 500px;
}

.w-500px {
  width: 500px;
}

.max-600 {
  max-width: 600px;
}

.min-600 {
  min-width: 600px;
}

.w-600px {
  width: 600px;
}

.max-768 {
  max-width: 768px;
}

.min-768 {
  min-width: 768px;
}

.w-768px {
  width: 768px;
}

.max-992 {
  max-width: 992px;
}

.min-992 {
  min-width: 992px;
}

.w-992px {
  width: 992px;
}

.max-1024 {
  max-width: 1024px;
}

.min-1024 {
  min-width: 1024px;
}

.w-1024px {
  width: 1024px;
}

.max-1200 {
  max-width: 1200px;
}

.min-1200 {
  min-width: 1200px;
}

.w-1200px {
  width: 1200px;
}

.max-1366 {
  max-width: 1366px;
}

.min-1366 {
  min-width: 1366px;
}

.w-1366px {
  width: 1366px;
}

.max-1920 {
  max-width: 1920px;
}

.min-1920 {
  min-width: 1920px;
}

.w-1920px {
  width: 1920px;
}

@media (min-width: 326px) and (max-width: 576) {
  .max-xs-5 {
    max-width: 5px;
  }
  .min-xs-5 {
    min-width: 5px;
  }
  .w-xs-5pc {
    width: 5%;
  }
  .max-xs-5pc {
    max-width: 5%;
  }
  .min-xs-5pc {
    min-width: 5%;
  }
  .max-xs-10 {
    max-width: 10px;
  }
  .min-xs-10 {
    min-width: 10px;
  }
  .w-xs-10pc {
    width: 10%;
  }
  .max-xs-10pc {
    max-width: 10%;
  }
  .min-xs-10pc {
    min-width: 10%;
  }
  .max-xs-15 {
    max-width: 15px;
  }
  .min-xs-15 {
    min-width: 15px;
  }
  .w-xs-15pc {
    width: 15%;
  }
  .max-xs-15pc {
    max-width: 15%;
  }
  .min-xs-15pc {
    min-width: 15%;
  }
  .max-xs-20 {
    max-width: 20px;
  }
  .min-xs-20 {
    min-width: 20px;
  }
  .w-xs-20pc {
    width: 20%;
  }
  .max-xs-20pc {
    max-width: 20%;
  }
  .min-xs-20pc {
    min-width: 20%;
  }
  .max-xs-25 {
    max-width: 25px;
  }
  .min-xs-25 {
    min-width: 25px;
  }
  .w-xs-25pc {
    width: 25%;
  }
  .max-xs-25pc {
    max-width: 25%;
  }
  .min-xs-25pc {
    min-width: 25%;
  }
  .max-xs-30 {
    max-width: 30px;
  }
  .min-xs-30 {
    min-width: 30px;
  }
  .w-xs-30pc {
    width: 30%;
  }
  .max-xs-30pc {
    max-width: 30%;
  }
  .min-xs-30pc {
    min-width: 30%;
  }
  .max-xs-35 {
    max-width: 35px;
  }
  .min-xs-35 {
    min-width: 35px;
  }
  .w-xs-35pc {
    width: 35%;
  }
  .max-xs-35pc {
    max-width: 35%;
  }
  .min-xs-35pc {
    min-width: 35%;
  }
  .max-xs-40 {
    max-width: 40px;
  }
  .min-xs-40 {
    min-width: 40px;
  }
  .w-xs-40pc {
    width: 40%;
  }
  .max-xs-40pc {
    max-width: 40%;
  }
  .min-xs-40pc {
    min-width: 40%;
  }
  .max-xs-45 {
    max-width: 45px;
  }
  .min-xs-45 {
    min-width: 45px;
  }
  .w-xs-45pc {
    width: 45%;
  }
  .max-xs-45pc {
    max-width: 45%;
  }
  .min-xs-45pc {
    min-width: 45%;
  }
  .max-xs-50 {
    max-width: 50px;
  }
  .min-xs-50 {
    min-width: 50px;
  }
  .w-xs-50pc {
    width: 50%;
  }
  .max-xs-50pc {
    max-width: 50%;
  }
  .min-xs-50pc {
    min-width: 50%;
  }
  .max-xs-55 {
    max-width: 55px;
  }
  .min-xs-55 {
    min-width: 55px;
  }
  .w-xs-55pc {
    width: 55%;
  }
  .max-xs-55pc {
    max-width: 55%;
  }
  .min-xs-55pc {
    min-width: 55%;
  }
  .max-xs-60 {
    max-width: 60px;
  }
  .min-xs-60 {
    min-width: 60px;
  }
  .w-xs-60pc {
    width: 60%;
  }
  .max-xs-60pc {
    max-width: 60%;
  }
  .min-xs-60pc {
    min-width: 60%;
  }
  .max-xs-65 {
    max-width: 65px;
  }
  .min-xs-65 {
    min-width: 65px;
  }
  .w-xs-65pc {
    width: 65%;
  }
  .max-xs-65pc {
    max-width: 65%;
  }
  .min-xs-65pc {
    min-width: 65%;
  }
  .max-xs-70 {
    max-width: 70px;
  }
  .min-xs-70 {
    min-width: 70px;
  }
  .w-xs-70pc {
    width: 70%;
  }
  .max-xs-70pc {
    max-width: 70%;
  }
  .min-xs-70pc {
    min-width: 70%;
  }
  .max-xs-75 {
    max-width: 75px;
  }
  .min-xs-75 {
    min-width: 75px;
  }
  .w-xs-75pc {
    width: 75%;
  }
  .max-xs-75pc {
    max-width: 75%;
  }
  .min-xs-75pc {
    min-width: 75%;
  }
  .max-xs-80 {
    max-width: 80px;
  }
  .min-xs-80 {
    min-width: 80px;
  }
  .w-xs-80pc {
    width: 80%;
  }
  .max-xs-80pc {
    max-width: 80%;
  }
  .min-xs-80pc {
    min-width: 80%;
  }
  .max-xs-85 {
    max-width: 85px;
  }
  .min-xs-85 {
    min-width: 85px;
  }
  .w-xs-85pc {
    width: 85%;
  }
  .max-xs-85pc {
    max-width: 85%;
  }
  .min-xs-85pc {
    min-width: 85%;
  }
  .max-xs-90 {
    max-width: 90px;
  }
  .min-xs-90 {
    min-width: 90px;
  }
  .w-xs-90pc {
    width: 90%;
  }
  .max-xs-90pc {
    max-width: 90%;
  }
  .min-xs-90pc {
    min-width: 90%;
  }
  .max-xs-95 {
    max-width: 95px;
  }
  .min-xs-95 {
    min-width: 95px;
  }
  .w-xs-95pc {
    width: 95%;
  }
  .max-xs-95pc {
    max-width: 95%;
  }
  .min-xs-95pc {
    min-width: 95%;
  }
  .max-xs-100 {
    max-width: 100px;
  }
  .min-xs-100 {
    min-width: 100px;
  }
  .w-xs-100pc {
    width: 100%;
  }
  .max-xs-100pc {
    max-width: 100%;
  }
  .min-xs-100pc {
    min-width: 100%;
  }
  .max-xs-120 {
    max-width: 120px;
  }
  .min-xs-120 {
    min-width: 120px;
  }
  .max-xs-150 {
    max-width: 150px;
  }
  .min-xs-150 {
    min-width: 150px;
  }
  .max-xs-180 {
    max-width: 180px;
  }
  .min-xs-180 {
    min-width: 180px;
  }
  .max-xs-200 {
    max-width: 200px;
  }
  .min-xs-200 {
    min-width: 200px;
  }
  .max-xs-240 {
    max-width: 240px;
  }
  .min-xs-240 {
    min-width: 240px;
  }
  .max-xs-250 {
    max-width: 250px;
  }
  .min-xs-250 {
    min-width: 250px;
  }
  .max-xs-300 {
    max-width: 300px;
  }
  .min-xs-300 {
    min-width: 300px;
  }
  .max-xs-320 {
    max-width: 320px;
  }
  .min-xs-320 {
    min-width: 320px;
  }
  .max-xs-360 {
    max-width: 360px;
  }
  .min-xs-360 {
    min-width: 360px;
  }
  .max-xs-400 {
    max-width: 400px;
  }
  .min-xs-400 {
    min-width: 400px;
  }
  .max-xs-460 {
    max-width: 460px;
  }
  .min-xs-460 {
    min-width: 460px;
  }
  .max-xs-480 {
    max-width: 480px;
  }
  .min-xs-480 {
    min-width: 480px;
  }
  .max-xs-500 {
    max-width: 500px;
  }
  .min-xs-500 {
    min-width: 500px;
  }
}

@media (min-width: 576px) {
  .fs-sm-10 {
    font-size: 10px;
  }
  .fs-sm-11 {
    font-size: 11px;
  }
  .fs-sm-12 {
    font-size: 12px;
  }
  .fs-sm-13 {
    font-size: 13px;
  }
  .fs-sm-14 {
    font-size: 14px;
  }
  .fs-sm-15 {
    font-size: 15px;
  }
  .fs-sm-16 {
    font-size: 16px;
  }
  .fs-sm-17 {
    font-size: 17px;
  }
  .fs-sm-18 {
    font-size: 18px;
  }
  .fs-sm-19 {
    font-size: 19px;
  }
  .fs-sm-20 {
    font-size: 20px;
  }
  .fs-sm-21 {
    font-size: 21px;
  }
  .fs-sm-22 {
    font-size: 22px;
  }
  .fs-sm-23 {
    font-size: 23px;
  }
  .fs-sm-24 {
    font-size: 24px;
  }
  .fs-sm-25 {
    font-size: 25px;
  }
  .fs-sm-26 {
    font-size: 26px;
  }
  .fs-sm-27 {
    font-size: 27px;
  }
  .fs-sm-28 {
    font-size: 28px;
  }
  .fs-sm-29 {
    font-size: 29px;
  }
  .fs-sm-30 {
    font-size: 30px;
  }
  .fs-sm-31 {
    font-size: 31px;
  }
  .fs-sm-32 {
    font-size: 32px;
  }
  .fs-sm-33 {
    font-size: 33px;
  }
  .fs-sm-34 {
    font-size: 34px;
  }
  .fs-sm-35 {
    font-size: 35px;
  }
  .fs-sm-36 {
    font-size: 36px;
  }
  .fs-sm-37 {
    font-size: 37px;
  }
  .fs-sm-38 {
    font-size: 38px;
  }
  .fs-sm-39 {
    font-size: 39px;
  }
  .fs-sm-40 {
    font-size: 40px;
  }
  .fs-sm-41 {
    font-size: 41px;
  }
  .fs-sm-42 {
    font-size: 42px;
  }
  .fs-sm-43 {
    font-size: 43px;
  }
  .fs-sm-44 {
    font-size: 44px;
  }
  .fs-sm-45 {
    font-size: 45px;
  }
  .fs-sm-46 {
    font-size: 46px;
  }
  .fs-sm-47 {
    font-size: 47px;
  }
  .fs-sm-48 {
    font-size: 48px;
  }
  .fs-sm-49 {
    font-size: 49px;
  }
  .fs-sm-50 {
    font-size: 50px;
  }
  .fs-sm-51 {
    font-size: 51px;
  }
  .fs-sm-52 {
    font-size: 52px;
  }
  .fs-sm-53 {
    font-size: 53px;
  }
  .fs-sm-54 {
    font-size: 54px;
  }
  .fs-sm-55 {
    font-size: 55px;
  }
  .fs-sm-56 {
    font-size: 56px;
  }
  .fs-sm-57 {
    font-size: 57px;
  }
  .fs-sm-58 {
    font-size: 58px;
  }
  .fs-sm-59 {
    font-size: 59px;
  }
  .fs-sm-60 {
    font-size: 60px;
  }
  .fs-sm-61 {
    font-size: 61px;
  }
  .fs-sm-62 {
    font-size: 62px;
  }
  .fs-sm-63 {
    font-size: 63px;
  }
  .fs-sm-64 {
    font-size: 64px;
  }
  .fs-sm-65 {
    font-size: 65px;
  }
  .fs-sm-66 {
    font-size: 66px;
  }
  .fs-sm-67 {
    font-size: 67px;
  }
  .fs-sm-68 {
    font-size: 68px;
  }
  .fs-sm-69 {
    font-size: 69px;
  }
  .fs-sm-70 {
    font-size: 70px;
  }
  .fs-sm-71 {
    font-size: 71px;
  }
  .w-sm-5 {
    width: 5px;
  }
  .max-sm-5 {
    max-width: 5px;
  }
  .min-sm-5 {
    min-width: 5px;
  }
  .w-sm-5pc {
    width: 5%;
  }
  .max-sm-5pc {
    max-width: 5%;
  }
  .min-sm-5pc {
    min-width: 5%;
  }
  .w-sm-10 {
    width: 10px;
  }
  .max-sm-10 {
    max-width: 10px;
  }
  .min-sm-10 {
    min-width: 10px;
  }
  .w-sm-10pc {
    width: 10%;
  }
  .max-sm-10pc {
    max-width: 10%;
  }
  .min-sm-10pc {
    min-width: 10%;
  }
  .w-sm-15 {
    width: 15px;
  }
  .max-sm-15 {
    max-width: 15px;
  }
  .min-sm-15 {
    min-width: 15px;
  }
  .w-sm-15pc {
    width: 15%;
  }
  .max-sm-15pc {
    max-width: 15%;
  }
  .min-sm-15pc {
    min-width: 15%;
  }
  .w-sm-20 {
    width: 20px;
  }
  .max-sm-20 {
    max-width: 20px;
  }
  .min-sm-20 {
    min-width: 20px;
  }
  .w-sm-20pc {
    width: 20%;
  }
  .max-sm-20pc {
    max-width: 20%;
  }
  .min-sm-20pc {
    min-width: 20%;
  }
  .w-sm-25 {
    width: 25px;
  }
  .max-sm-25 {
    max-width: 25px;
  }
  .min-sm-25 {
    min-width: 25px;
  }
  .w-sm-25pc {
    width: 25%;
  }
  .max-sm-25pc {
    max-width: 25%;
  }
  .min-sm-25pc {
    min-width: 25%;
  }
  .w-sm-30 {
    width: 30px;
  }
  .max-sm-30 {
    max-width: 30px;
  }
  .min-sm-30 {
    min-width: 30px;
  }
  .w-sm-30pc {
    width: 30%;
  }
  .max-sm-30pc {
    max-width: 30%;
  }
  .min-sm-30pc {
    min-width: 30%;
  }
  .w-sm-35 {
    width: 35px;
  }
  .max-sm-35 {
    max-width: 35px;
  }
  .min-sm-35 {
    min-width: 35px;
  }
  .w-sm-35pc {
    width: 35%;
  }
  .max-sm-35pc {
    max-width: 35%;
  }
  .min-sm-35pc {
    min-width: 35%;
  }
  .w-sm-40 {
    width: 40px;
  }
  .max-sm-40 {
    max-width: 40px;
  }
  .min-sm-40 {
    min-width: 40px;
  }
  .w-sm-40pc {
    width: 40%;
  }
  .max-sm-40pc {
    max-width: 40%;
  }
  .min-sm-40pc {
    min-width: 40%;
  }
  .w-sm-45 {
    width: 45px;
  }
  .max-sm-45 {
    max-width: 45px;
  }
  .min-sm-45 {
    min-width: 45px;
  }
  .w-sm-45pc {
    width: 45%;
  }
  .max-sm-45pc {
    max-width: 45%;
  }
  .min-sm-45pc {
    min-width: 45%;
  }
  .w-sm-50 {
    width: 50px;
  }
  .max-sm-50 {
    max-width: 50px;
  }
  .min-sm-50 {
    min-width: 50px;
  }
  .w-sm-50pc {
    width: 50%;
  }
  .max-sm-50pc {
    max-width: 50%;
  }
  .min-sm-50pc {
    min-width: 50%;
  }
  .w-sm-55 {
    width: 55px;
  }
  .max-sm-55 {
    max-width: 55px;
  }
  .min-sm-55 {
    min-width: 55px;
  }
  .w-sm-55pc {
    width: 55%;
  }
  .max-sm-55pc {
    max-width: 55%;
  }
  .min-sm-55pc {
    min-width: 55%;
  }
  .w-sm-60 {
    width: 60px;
  }
  .max-sm-60 {
    max-width: 60px;
  }
  .min-sm-60 {
    min-width: 60px;
  }
  .w-sm-60pc {
    width: 60%;
  }
  .max-sm-60pc {
    max-width: 60%;
  }
  .min-sm-60pc {
    min-width: 60%;
  }
  .w-sm-65 {
    width: 65px;
  }
  .max-sm-65 {
    max-width: 65px;
  }
  .min-sm-65 {
    min-width: 65px;
  }
  .w-sm-65pc {
    width: 65%;
  }
  .max-sm-65pc {
    max-width: 65%;
  }
  .min-sm-65pc {
    min-width: 65%;
  }
  .w-sm-70 {
    width: 70px;
  }
  .max-sm-70 {
    max-width: 70px;
  }
  .min-sm-70 {
    min-width: 70px;
  }
  .w-sm-70pc {
    width: 70%;
  }
  .max-sm-70pc {
    max-width: 70%;
  }
  .min-sm-70pc {
    min-width: 70%;
  }
  .w-sm-75 {
    width: 75px;
  }
  .max-sm-75 {
    max-width: 75px;
  }
  .min-sm-75 {
    min-width: 75px;
  }
  .w-sm-75pc {
    width: 75%;
  }
  .max-sm-75pc {
    max-width: 75%;
  }
  .min-sm-75pc {
    min-width: 75%;
  }
  .w-sm-80 {
    width: 80px;
  }
  .max-sm-80 {
    max-width: 80px;
  }
  .min-sm-80 {
    min-width: 80px;
  }
  .w-sm-80pc {
    width: 80%;
  }
  .max-sm-80pc {
    max-width: 80%;
  }
  .min-sm-80pc {
    min-width: 80%;
  }
  .w-sm-85 {
    width: 85px;
  }
  .max-sm-85 {
    max-width: 85px;
  }
  .min-sm-85 {
    min-width: 85px;
  }
  .w-sm-85pc {
    width: 85%;
  }
  .max-sm-85pc {
    max-width: 85%;
  }
  .min-sm-85pc {
    min-width: 85%;
  }
  .w-sm-90 {
    width: 90px;
  }
  .max-sm-90 {
    max-width: 90px;
  }
  .min-sm-90 {
    min-width: 90px;
  }
  .w-sm-90pc {
    width: 90%;
  }
  .max-sm-90pc {
    max-width: 90%;
  }
  .min-sm-90pc {
    min-width: 90%;
  }
  .w-sm-95 {
    width: 95px;
  }
  .max-sm-95 {
    max-width: 95px;
  }
  .min-sm-95 {
    min-width: 95px;
  }
  .w-sm-95pc {
    width: 95%;
  }
  .max-sm-95pc {
    max-width: 95%;
  }
  .min-sm-95pc {
    min-width: 95%;
  }
  .w-sm-100 {
    width: 100px;
  }
  .max-sm-100 {
    max-width: 100px;
  }
  .min-sm-100 {
    min-width: 100px;
  }
  .w-sm-100pc {
    width: 100%;
  }
  .max-sm-100pc {
    max-width: 100%;
  }
  .min-sm-100pc {
    min-width: 100%;
  }
  .w-sm-120 {
    width: 120px;
  }
  .max-sm-120 {
    max-width: 120px;
  }
  .min-sm-120 {
    min-width: 120px;
  }
  .w-sm-150 {
    width: 150px;
  }
  .max-sm-150 {
    max-width: 150px;
  }
  .min-sm-150 {
    min-width: 150px;
  }
  .w-sm-180 {
    width: 180px;
  }
  .max-sm-180 {
    max-width: 180px;
  }
  .min-sm-180 {
    min-width: 180px;
  }
  .w-sm-200 {
    width: 200px;
  }
  .max-sm-200 {
    max-width: 200px;
  }
  .min-sm-200 {
    min-width: 200px;
  }
  .w-sm-240 {
    width: 240px;
  }
  .max-sm-240 {
    max-width: 240px;
  }
  .min-sm-240 {
    min-width: 240px;
  }
  .w-sm-250 {
    width: 250px;
  }
  .max-sm-250 {
    max-width: 250px;
  }
  .min-sm-250 {
    min-width: 250px;
  }
  .w-sm-300 {
    width: 300px;
  }
  .max-sm-300 {
    max-width: 300px;
  }
  .min-sm-300 {
    min-width: 300px;
  }
  .w-sm-320 {
    width: 320px;
  }
  .max-sm-320 {
    max-width: 320px;
  }
  .min-sm-320 {
    min-width: 320px;
  }
  .w-sm-360 {
    width: 360px;
  }
  .max-sm-360 {
    max-width: 360px;
  }
  .min-sm-360 {
    min-width: 360px;
  }
  .w-sm-400 {
    width: 400px;
  }
  .max-sm-400 {
    max-width: 400px;
  }
  .min-sm-400 {
    min-width: 400px;
  }
  .w-sm-460 {
    width: 460px;
  }
  .max-sm-460 {
    max-width: 460px;
  }
  .min-sm-460 {
    min-width: 460px;
  }
  .w-sm-480 {
    width: 480px;
  }
  .max-sm-480 {
    max-width: 480px;
  }
  .min-sm-480 {
    min-width: 480px;
  }
  .w-sm-500 {
    width: 500px;
  }
  .max-sm-500 {
    max-width: 500px;
  }
  .min-sm-500 {
    min-width: 500px;
  }
}

@media (min-width: 768px) {
  .fs-md-10 {
    font-size: 10px;
  }
  .fs-md-11 {
    font-size: 11px;
  }
  .fs-md-12 {
    font-size: 12px;
  }
  .fs-md-13 {
    font-size: 13px;
  }
  .fs-md-14 {
    font-size: 14px;
  }
  .fs-md-15 {
    font-size: 15px;
  }
  .fs-md-16 {
    font-size: 16px;
  }
  .fs-md-17 {
    font-size: 17px;
  }
  .fs-md-18 {
    font-size: 18px;
  }
  .fs-md-19 {
    font-size: 19px;
  }
  .fs-md-20 {
    font-size: 20px;
  }
  .fs-md-21 {
    font-size: 21px;
  }
  .fs-md-22 {
    font-size: 22px;
  }
  .fs-md-23 {
    font-size: 23px;
  }
  .fs-md-24 {
    font-size: 24px;
  }
  .fs-md-25 {
    font-size: 25px;
  }
  .fs-md-26 {
    font-size: 26px;
  }
  .fs-md-27 {
    font-size: 27px;
  }
  .fs-md-28 {
    font-size: 28px;
  }
  .fs-md-29 {
    font-size: 29px;
  }
  .fs-md-30 {
    font-size: 30px;
  }
  .fs-md-31 {
    font-size: 31px;
  }
  .fs-md-32 {
    font-size: 32px;
  }
  .fs-md-33 {
    font-size: 33px;
  }
  .fs-md-34 {
    font-size: 34px;
  }
  .fs-md-35 {
    font-size: 35px;
  }
  .fs-md-36 {
    font-size: 36px;
  }
  .fs-md-37 {
    font-size: 37px;
  }
  .fs-md-38 {
    font-size: 38px;
  }
  .fs-md-39 {
    font-size: 39px;
  }
  .fs-md-40 {
    font-size: 40px;
  }
  .fs-md-41 {
    font-size: 41px;
  }
  .fs-md-42 {
    font-size: 42px;
  }
  .fs-md-43 {
    font-size: 43px;
  }
  .fs-md-44 {
    font-size: 44px;
  }
  .fs-md-45 {
    font-size: 45px;
  }
  .fs-md-46 {
    font-size: 46px;
  }
  .fs-md-47 {
    font-size: 47px;
  }
  .fs-md-48 {
    font-size: 48px;
  }
  .fs-md-49 {
    font-size: 49px;
  }
  .fs-md-50 {
    font-size: 50px;
  }
  .fs-md-51 {
    font-size: 51px;
  }
  .fs-md-52 {
    font-size: 52px;
  }
  .fs-md-53 {
    font-size: 53px;
  }
  .fs-md-54 {
    font-size: 54px;
  }
  .fs-md-55 {
    font-size: 55px;
  }
  .fs-md-56 {
    font-size: 56px;
  }
  .fs-md-57 {
    font-size: 57px;
  }
  .fs-md-58 {
    font-size: 58px;
  }
  .fs-md-59 {
    font-size: 59px;
  }
  .fs-md-60 {
    font-size: 60px;
  }
  .fs-md-61 {
    font-size: 61px;
  }
  .fs-md-62 {
    font-size: 62px;
  }
  .fs-md-63 {
    font-size: 63px;
  }
  .fs-md-64 {
    font-size: 64px;
  }
  .fs-md-65 {
    font-size: 65px;
  }
  .fs-md-66 {
    font-size: 66px;
  }
  .fs-md-67 {
    font-size: 67px;
  }
  .fs-md-68 {
    font-size: 68px;
  }
  .fs-md-69 {
    font-size: 69px;
  }
  .fs-md-70 {
    font-size: 70px;
  }
  .fs-md-71 {
    font-size: 71px;
  }
  .max-md-5 {
    max-width: 5px;
  }
  .min-md-5 {
    min-width: 5px;
  }
  .w-md-5pc {
    width: 5%;
  }
  .max-md-5pc {
    max-width: 5%;
  }
  .min-md-5pc {
    min-width: 5%;
  }
  .max-md-10 {
    max-width: 10px;
  }
  .min-md-10 {
    min-width: 10px;
  }
  .w-md-10pc {
    width: 10%;
  }
  .max-md-10pc {
    max-width: 10%;
  }
  .min-md-10pc {
    min-width: 10%;
  }
  .max-md-15 {
    max-width: 15px;
  }
  .min-md-15 {
    min-width: 15px;
  }
  .w-md-15pc {
    width: 15%;
  }
  .max-md-15pc {
    max-width: 15%;
  }
  .min-md-15pc {
    min-width: 15%;
  }
  .max-md-20 {
    max-width: 20px;
  }
  .min-md-20 {
    min-width: 20px;
  }
  .w-md-20pc {
    width: 20%;
  }
  .max-md-20pc {
    max-width: 20%;
  }
  .min-md-20pc {
    min-width: 20%;
  }
  .max-md-25 {
    max-width: 25px;
  }
  .min-md-25 {
    min-width: 25px;
  }
  .w-md-25pc {
    width: 25%;
  }
  .max-md-25pc {
    max-width: 25%;
  }
  .min-md-25pc {
    min-width: 25%;
  }
  .max-md-30 {
    max-width: 30px;
  }
  .min-md-30 {
    min-width: 30px;
  }
  .w-md-30pc {
    width: 30%;
  }
  .max-md-30pc {
    max-width: 30%;
  }
  .min-md-30pc {
    min-width: 30%;
  }
  .max-md-35 {
    max-width: 35px;
  }
  .min-md-35 {
    min-width: 35px;
  }
  .w-md-35pc {
    width: 35%;
  }
  .max-md-35pc {
    max-width: 35%;
  }
  .min-md-35pc {
    min-width: 35%;
  }
  .max-md-40 {
    max-width: 40px;
  }
  .min-md-40 {
    min-width: 40px;
  }
  .w-md-40pc {
    width: 40%;
  }
  .max-md-40pc {
    max-width: 40%;
  }
  .min-md-40pc {
    min-width: 40%;
  }
  .max-md-45 {
    max-width: 45px;
  }
  .min-md-45 {
    min-width: 45px;
  }
  .w-md-45pc {
    width: 45%;
  }
  .max-md-45pc {
    max-width: 45%;
  }
  .min-md-45pc {
    min-width: 45%;
  }
  .max-md-50 {
    max-width: 50px;
  }
  .min-md-50 {
    min-width: 50px;
  }
  .w-md-50pc {
    width: 50%;
  }
  .max-md-50pc {
    max-width: 50%;
  }
  .min-md-50pc {
    min-width: 50%;
  }
  .max-md-55 {
    max-width: 55px;
  }
  .min-md-55 {
    min-width: 55px;
  }
  .w-md-55pc {
    width: 55%;
  }
  .max-md-55pc {
    max-width: 55%;
  }
  .min-md-55pc {
    min-width: 55%;
  }
  .max-md-60 {
    max-width: 60px;
  }
  .min-md-60 {
    min-width: 60px;
  }
  .w-md-60pc {
    width: 60%;
  }
  .max-md-60pc {
    max-width: 60%;
  }
  .min-md-60pc {
    min-width: 60%;
  }
  .max-md-65 {
    max-width: 65px;
  }
  .min-md-65 {
    min-width: 65px;
  }
  .w-md-65pc {
    width: 65%;
  }
  .max-md-65pc {
    max-width: 65%;
  }
  .min-md-65pc {
    min-width: 65%;
  }
  .max-md-70 {
    max-width: 70px;
  }
  .min-md-70 {
    min-width: 70px;
  }
  .w-md-70pc {
    width: 70%;
  }
  .max-md-70pc {
    max-width: 70%;
  }
  .min-md-70pc {
    min-width: 70%;
  }
  .max-md-75 {
    max-width: 75px;
  }
  .min-md-75 {
    min-width: 75px;
  }
  .w-md-75pc {
    width: 75%;
  }
  .max-md-75pc {
    max-width: 75%;
  }
  .min-md-75pc {
    min-width: 75%;
  }
  .max-md-80 {
    max-width: 80px;
  }
  .min-md-80 {
    min-width: 80px;
  }
  .w-md-80pc {
    width: 80%;
  }
  .max-md-80pc {
    max-width: 80%;
  }
  .min-md-80pc {
    min-width: 80%;
  }
  .max-md-85 {
    max-width: 85px;
  }
  .min-md-85 {
    min-width: 85px;
  }
  .w-md-85pc {
    width: 85%;
  }
  .max-md-85pc {
    max-width: 85%;
  }
  .min-md-85pc {
    min-width: 85%;
  }
  .max-md-90 {
    max-width: 90px;
  }
  .min-md-90 {
    min-width: 90px;
  }
  .w-md-90pc {
    width: 90%;
  }
  .max-md-90pc {
    max-width: 90%;
  }
  .min-md-90pc {
    min-width: 90%;
  }
  .max-md-95 {
    max-width: 95px;
  }
  .min-md-95 {
    min-width: 95px;
  }
  .w-md-95pc {
    width: 95%;
  }
  .max-md-95pc {
    max-width: 95%;
  }
  .min-md-95pc {
    min-width: 95%;
  }
  .max-md-100 {
    max-width: 100px;
  }
  .min-md-100 {
    min-width: 100px;
  }
  .w-md-100pc {
    width: 100%;
  }
  .max-md-100pc {
    max-width: 100%;
  }
  .min-md-100pc {
    min-width: 100%;
  }
  .max-md-120 {
    max-width: 120px;
  }
  .min-md-120 {
    min-width: 120px;
  }
  .max-md-150 {
    max-width: 150px;
  }
  .min-md-150 {
    min-width: 150px;
  }
  .max-md-180 {
    max-width: 180px;
  }
  .min-md-180 {
    min-width: 180px;
  }
  .max-md-200 {
    max-width: 200px;
  }
  .min-md-200 {
    min-width: 200px;
  }
  .max-md-240 {
    max-width: 240px;
  }
  .min-md-240 {
    min-width: 240px;
  }
  .max-md-250 {
    max-width: 250px;
  }
  .min-md-250 {
    min-width: 250px;
  }
  .max-md-300 {
    max-width: 300px;
  }
  .min-md-300 {
    min-width: 300px;
  }
  .max-md-320 {
    max-width: 320px;
  }
  .min-md-320 {
    min-width: 320px;
  }
  .max-md-360 {
    max-width: 360px;
  }
  .min-md-360 {
    min-width: 360px;
  }
  .max-md-400 {
    max-width: 400px;
  }
  .min-md-400 {
    min-width: 400px;
  }
  .max-md-460 {
    max-width: 460px;
  }
  .min-md-460 {
    min-width: 460px;
  }
  .max-md-480 {
    max-width: 480px;
  }
  .min-md-480 {
    min-width: 480px;
  }
  .max-md-500 {
    max-width: 500px;
  }
  .min-md-500 {
    min-width: 500px;
  }
  .max-md-600 {
    max-width: 600px;
  }
  .min-md-600 {
    min-width: 600px;
  }
}

@media (min-width: 992px) {
  .fs-lg-10 {
    font-size: 10px;
  }
  .fs-lg-11 {
    font-size: 11px;
  }
  .fs-lg-12 {
    font-size: 12px;
  }
  .fs-lg-13 {
    font-size: 13px;
  }
  .fs-lg-14 {
    font-size: 14px;
  }
  .fs-lg-15 {
    font-size: 15px;
  }
  .fs-lg-16 {
    font-size: 16px;
  }
  .fs-lg-17 {
    font-size: 17px;
  }
  .fs-lg-18 {
    font-size: 18px;
  }
  .fs-lg-19 {
    font-size: 19px;
  }
  .fs-lg-20 {
    font-size: 20px;
  }
  .fs-lg-21 {
    font-size: 21px;
  }
  .fs-lg-22 {
    font-size: 22px;
  }
  .fs-lg-23 {
    font-size: 23px;
  }
  .fs-lg-24 {
    font-size: 24px;
  }
  .fs-lg-25 {
    font-size: 25px;
  }
  .fs-lg-26 {
    font-size: 26px;
  }
  .fs-lg-27 {
    font-size: 27px;
  }
  .fs-lg-28 {
    font-size: 28px;
  }
  .fs-lg-29 {
    font-size: 29px;
  }
  .fs-lg-30 {
    font-size: 30px;
  }
  .fs-lg-31 {
    font-size: 31px;
  }
  .fs-lg-32 {
    font-size: 32px;
  }
  .fs-lg-33 {
    font-size: 33px;
  }
  .fs-lg-34 {
    font-size: 34px;
  }
  .fs-lg-35 {
    font-size: 35px;
  }
  .fs-lg-36 {
    font-size: 36px;
  }
  .fs-lg-37 {
    font-size: 37px;
  }
  .fs-lg-38 {
    font-size: 38px;
  }
  .fs-lg-39 {
    font-size: 39px;
  }
  .fs-lg-40 {
    font-size: 40px;
  }
  .fs-lg-41 {
    font-size: 41px;
  }
  .fs-lg-42 {
    font-size: 42px;
  }
  .fs-lg-43 {
    font-size: 43px;
  }
  .fs-lg-44 {
    font-size: 44px;
  }
  .fs-lg-45 {
    font-size: 45px;
  }
  .fs-lg-46 {
    font-size: 46px;
  }
  .fs-lg-47 {
    font-size: 47px;
  }
  .fs-lg-48 {
    font-size: 48px;
  }
  .fs-lg-49 {
    font-size: 49px;
  }
  .fs-lg-50 {
    font-size: 50px;
  }
  .fs-lg-51 {
    font-size: 51px;
  }
  .fs-lg-52 {
    font-size: 52px;
  }
  .fs-lg-53 {
    font-size: 53px;
  }
  .fs-lg-54 {
    font-size: 54px;
  }
  .fs-lg-55 {
    font-size: 55px;
  }
  .fs-lg-56 {
    font-size: 56px;
  }
  .fs-lg-57 {
    font-size: 57px;
  }
  .fs-lg-58 {
    font-size: 58px;
  }
  .fs-lg-59 {
    font-size: 59px;
  }
  .fs-lg-60 {
    font-size: 60px;
  }
  .fs-lg-61 {
    font-size: 61px;
  }
  .fs-lg-62 {
    font-size: 62px;
  }
  .fs-lg-63 {
    font-size: 63px;
  }
  .fs-lg-64 {
    font-size: 64px;
  }
  .fs-lg-65 {
    font-size: 65px;
  }
  .fs-lg-66 {
    font-size: 66px;
  }
  .fs-lg-67 {
    font-size: 67px;
  }
  .fs-lg-68 {
    font-size: 68px;
  }
  .fs-lg-69 {
    font-size: 69px;
  }
  .fs-lg-70 {
    font-size: 70px;
  }
  .fs-lg-71 {
    font-size: 71px;
  }
  .max-lg-5 {
    max-width: 5px;
  }
  .min-lg-5 {
    min-width: 5px;
  }
  .w-lg-5pc {
    width: 5%;
  }
  .max-lg-5pc {
    max-width: 5%;
  }
  .min-lg-5pc {
    min-width: 5%;
  }
  .max-lg-10 {
    max-width: 10px;
  }
  .min-lg-10 {
    min-width: 10px;
  }
  .w-lg-10pc {
    width: 10%;
  }
  .max-lg-10pc {
    max-width: 10%;
  }
  .min-lg-10pc {
    min-width: 10%;
  }
  .max-lg-15 {
    max-width: 15px;
  }
  .min-lg-15 {
    min-width: 15px;
  }
  .w-lg-15pc {
    width: 15%;
  }
  .max-lg-15pc {
    max-width: 15%;
  }
  .min-lg-15pc {
    min-width: 15%;
  }
  .max-lg-20 {
    max-width: 20px;
  }
  .min-lg-20 {
    min-width: 20px;
  }
  .w-lg-20pc {
    width: 20%;
  }
  .max-lg-20pc {
    max-width: 20%;
  }
  .min-lg-20pc {
    min-width: 20%;
  }
  .max-lg-25 {
    max-width: 25px;
  }
  .min-lg-25 {
    min-width: 25px;
  }
  .w-lg-25pc {
    width: 25%;
  }
  .max-lg-25pc {
    max-width: 25%;
  }
  .min-lg-25pc {
    min-width: 25%;
  }
  .max-lg-30 {
    max-width: 30px;
  }
  .min-lg-30 {
    min-width: 30px;
  }
  .w-lg-30pc {
    width: 30%;
  }
  .max-lg-30pc {
    max-width: 30%;
  }
  .min-lg-30pc {
    min-width: 30%;
  }
  .max-lg-35 {
    max-width: 35px;
  }
  .min-lg-35 {
    min-width: 35px;
  }
  .w-lg-35pc {
    width: 35%;
  }
  .max-lg-35pc {
    max-width: 35%;
  }
  .min-lg-35pc {
    min-width: 35%;
  }
  .max-lg-40 {
    max-width: 40px;
  }
  .min-lg-40 {
    min-width: 40px;
  }
  .w-lg-40pc {
    width: 40%;
  }
  .max-lg-40pc {
    max-width: 40%;
  }
  .min-lg-40pc {
    min-width: 40%;
  }
  .max-lg-45 {
    max-width: 45px;
  }
  .min-lg-45 {
    min-width: 45px;
  }
  .w-lg-45pc {
    width: 45%;
  }
  .max-lg-45pc {
    max-width: 45%;
  }
  .min-lg-45pc {
    min-width: 45%;
  }
  .max-lg-50 {
    max-width: 50px;
  }
  .min-lg-50 {
    min-width: 50px;
  }
  .w-lg-50pc {
    width: 50%;
  }
  .max-lg-50pc {
    max-width: 50%;
  }
  .min-lg-50pc {
    min-width: 50%;
  }
  .max-lg-55 {
    max-width: 55px;
  }
  .min-lg-55 {
    min-width: 55px;
  }
  .w-lg-55pc {
    width: 55%;
  }
  .max-lg-55pc {
    max-width: 55%;
  }
  .min-lg-55pc {
    min-width: 55%;
  }
  .max-lg-60 {
    max-width: 60px;
  }
  .min-lg-60 {
    min-width: 60px;
  }
  .w-lg-60pc {
    width: 60%;
  }
  .max-lg-60pc {
    max-width: 60%;
  }
  .min-lg-60pc {
    min-width: 60%;
  }
  .max-lg-65 {
    max-width: 65px;
  }
  .min-lg-65 {
    min-width: 65px;
  }
  .w-lg-65pc {
    width: 65%;
  }
  .max-lg-65pc {
    max-width: 65%;
  }
  .min-lg-65pc {
    min-width: 65%;
  }
  .max-lg-70 {
    max-width: 70px;
  }
  .min-lg-70 {
    min-width: 70px;
  }
  .w-lg-70pc {
    width: 70%;
  }
  .max-lg-70pc {
    max-width: 70%;
  }
  .min-lg-70pc {
    min-width: 70%;
  }
  .max-lg-75 {
    max-width: 75px;
  }
  .min-lg-75 {
    min-width: 75px;
  }
  .w-lg-75pc {
    width: 75%;
  }
  .max-lg-75pc {
    max-width: 75%;
  }
  .min-lg-75pc {
    min-width: 75%;
  }
  .max-lg-80 {
    max-width: 80px;
  }
  .min-lg-80 {
    min-width: 80px;
  }
  .w-lg-80pc {
    width: 80%;
  }
  .max-lg-80pc {
    max-width: 80%;
  }
  .min-lg-80pc {
    min-width: 80%;
  }
  .max-lg-85 {
    max-width: 85px;
  }
  .min-lg-85 {
    min-width: 85px;
  }
  .w-lg-85pc {
    width: 85%;
  }
  .max-lg-85pc {
    max-width: 85%;
  }
  .min-lg-85pc {
    min-width: 85%;
  }
  .max-lg-90 {
    max-width: 90px;
  }
  .min-lg-90 {
    min-width: 90px;
  }
  .w-lg-90pc {
    width: 90%;
  }
  .max-lg-90pc {
    max-width: 90%;
  }
  .min-lg-90pc {
    min-width: 90%;
  }
  .max-lg-95 {
    max-width: 95px;
  }
  .min-lg-95 {
    min-width: 95px;
  }
  .w-lg-95pc {
    width: 95%;
  }
  .max-lg-95pc {
    max-width: 95%;
  }
  .min-lg-95pc {
    min-width: 95%;
  }
  .max-lg-100 {
    max-width: 100px;
  }
  .min-lg-100 {
    min-width: 100px;
  }
  .w-lg-100pc {
    width: 100%;
  }
  .max-lg-100pc {
    max-width: 100%;
  }
  .min-lg-100pc {
    min-width: 100%;
  }
  .max-lg-120 {
    max-width: 120px;
  }
  .min-lg-120 {
    min-width: 120px;
  }
  .max-lg-150 {
    max-width: 150px;
  }
  .min-lg-150 {
    min-width: 150px;
  }
  .max-lg-180 {
    max-width: 180px;
  }
  .min-lg-180 {
    min-width: 180px;
  }
  .max-lg-200 {
    max-width: 200px;
  }
  .min-lg-200 {
    min-width: 200px;
  }
  .max-lg-240 {
    max-width: 240px;
  }
  .min-lg-240 {
    min-width: 240px;
  }
  .max-lg-250 {
    max-width: 250px;
  }
  .min-lg-250 {
    min-width: 250px;
  }
  .max-lg-300 {
    max-width: 300px;
  }
  .min-lg-300 {
    min-width: 300px;
  }
  .max-lg-320 {
    max-width: 320px;
  }
  .min-lg-320 {
    min-width: 320px;
  }
  .max-lg-360 {
    max-width: 360px;
  }
  .min-lg-360 {
    min-width: 360px;
  }
  .max-lg-400 {
    max-width: 400px;
  }
  .min-lg-400 {
    min-width: 400px;
  }
  .max-lg-460 {
    max-width: 460px;
  }
  .min-lg-460 {
    min-width: 460px;
  }
  .max-lg-480 {
    max-width: 480px;
  }
  .min-lg-480 {
    min-width: 480px;
  }
  .max-lg-500 {
    max-width: 500px;
  }
  .min-lg-500 {
    min-width: 500px;
  }
  .max-lg-600 {
    max-width: 600px;
  }
  .min-lg-600 {
    min-width: 600px;
  }
  .max-lg-768 {
    max-width: 768px;
  }
  .min-lg-768 {
    min-width: 768px;
  }
}

.input-group-text {
  height: 100%;
  line-height: 1.6;
}

.ms-navbar li .dropdown-menu {
  z-index: 3001;
}

.ms-navbar .hide-mob .dropdown-menu {
  min-width: 10rem;
  margin: 10px auto;
}

.ms-inline li.ms-nav-item.hide-mob {
  display: none;
}

.ms-inline li.ms-nav-item.hide-mob ul li a {
  padding: 5px 10px !important;
}

@media (min-width: 768px) {
  .ms-inline li.ms-nav-item.hide-mob:nth-child(1), .ms-inline li.ms-nav-item.hide-mob:nth-child(2), .ms-inline li.ms-nav-item.hide-mob:nth-child(3) {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .ms-inline li.ms-nav-item.hide-mob {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-mob {
    display: none;
  }
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-mob:nth-child(1):not(.hide-by-side) {
    display: inline-block;
  }
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-mob:nth-child(2):not(.hide-by-side) {
    display: inline-block;
  }
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-mob:nth-child(3):not(.hide-by-side) {
    display: inline-block;
  }
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-mob:nth-child(4):not(.hide-by-side) {
    display: inline-block;
  }
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-by-side {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-mob {
    display: inline-block;
  }
  .ms-aside-left-open .ms-inline li.ms-nav-item.hide-by-side {
    display: none;
  }
}

@media (max-width: 992px) {
  .hide-md {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 576px) {
  .hide-xs {
    display: none;
  }
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

#forgot-modal-form .g-recaptcha {
  margin: auto;
}

.daterangepicker .drp-buttons .btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
}

.daterangepicker .drp-buttons .btn.btn-primary {
  background-color: #ff0018;
}

.daterangepicker .drp-buttons .btn.btn-primary:hover {
  background-color: #e70017;
}

.daterangepicker .drp-buttons .btn.btn-primary.disabled, .daterangepicker .drp-buttons .btn.btn-primary:disabled {
  color: #fff;
  background-color: #ff0019af;
  border-color: #ff0019af;
}

.daterangepicker .drp-buttons .btn.btn-default:hover {
  color: #000;
}

.daterangepicker td.in-range {
  background-color: rgba(255, 1, 26, 0.2);
}

.daterangepicker td.available:hover {
  background-color: rgba(255, 1, 26, 0.767);
  color: #fff;
}

.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.in-range.active {
  background-color: #ff0018;
}

#g2fa-wizard .g2fa-app-download {
  text-align: center;
}

#g2fa-wizard .g2fa-app-download img {
  max-width: 80%;
}

.logo-sn a img {
  max-height: 40px;
}

.max-100-pc {
  max-width: 100%;
}

.w-100-pc, .w-100pc, .w-100 {
  width: 100%;
}

.nav-tabs.left-tabs + .tab-content, .nav-tabs.right-tabs + .tab-content {
  width: calc(100% - 180px);
}

.txt-uper {
  text-transform: uppercase;
}

.colorPOrange {
  color: #f58221;
}

.lottery-tabs {
  border-bottom: 1px solid #ff0018;
  padding-left: 8px;
}

.lottery-tabs li {
  flex: none;
}

.lottery-tabs li a {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  position: relative;
  background: transparent;
  color: #ff0018;
}

.lottery-tabs li a.active {
  background: transparent;
  color: #fff;
  z-index: 1;
}

.lottery-tabs li a.active:before {
  content: " ";
  display: block;
  position: absolute;
  transform: skewX(-20deg);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: #ff0018;
  z-index: -1;
  left: 0;
}

.checklist label {
  position: relative;
  display: inline-block;
  height: 44px;
  overflow: hidden;
}

.checklist label input[type="radio"], .checklist label input[type="checkbox"] {
  position: absolute;
  left: -30px;
  top: -30px;
  display: none;
  width: 10px;
  height: 10px;
}

.checklist label input[type="radio"] + span, .checklist label input[type="checkbox"] + span {
  display: block;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid #8f8f8f;
  color: #424242;
  cursor: pointer;
}

.checklist label input[type="radio"]:disabled + span, .checklist label input[type="radio"].disabled + span, .checklist label input[type="checkbox"]:disabled + span, .checklist label input[type="checkbox"].disabled + span {
  border: 2px solid #d6d6d6;
  color: #929292;
}

.checklist label input[type="radio"]:checked + span, .checklist label input[type="checkbox"]:checked + span {
  border: 2px solid #ff0018;
  color: #ff0018;
}

.checklist label input[type="radio"]:checked:disabled + span, .checklist label input[type="radio"]:checked.disabled + span, .checklist label input[type="checkbox"]:checked:disabled + span, .checklist label input[type="checkbox"]:checked.disabled + span {
  border: 2px solid #aa2331;
  color: #aa2331;
}

.checklist.checklist-bordered label input[type="radio"] + span, .checklist.checklist-bordered label input[type="checkbox"] + span {
  border-radius: 4px;
}

.checklist.checklist-rounded label input[type="radio"] + span, .checklist.checklist-rounded label input[type="checkbox"] + span {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0;
}

.checklist.checklist-filled label input[type="radio"] + span, .checklist.checklist-filled label input[type="checkbox"] + span {
  border: 2px solid #ff0018;
  color: #ff0018;
}

.checklist.checklist-filled label input[type="radio"]:disabled + span, .checklist.checklist-filled label input[type="radio"].disabled + span, .checklist.checklist-filled label input[type="checkbox"]:disabled + span, .checklist.checklist-filled label input[type="checkbox"].disabled + span {
  border: 2px solid #aa2331;
  color: #aa2331;
}

.checklist.checklist-filled label input[type="radio"]:checked + span, .checklist.checklist-filled label input[type="checkbox"]:checked + span {
  color: #fff;
  background-color: #ff0018;
}

.checklist.checklist-filled label input[type="radio"]:checked:disabled + span, .checklist.checklist-filled label input[type="radio"]:checked.disabled + span, .checklist.checklist-filled label input[type="checkbox"]:checked:disabled + span, .checklist.checklist-filled label input[type="checkbox"]:checked.disabled + span {
  color: #c7c7c7;
  background-color: #aa2331;
}

.radio-nav label {
  position: relative;
  display: inline-block;
  height: 44px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.radio-nav label input[type="radio"] {
  position: absolute;
  left: -30px;
  top: -30px;
  display: none;
  width: 10px;
  height: 10px;
}

.radio-nav label input[type="radio"] + span {
  display: block;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid #8f8f8f;
  color: #424242;
  cursor: pointer;
}

.radio-nav label input[type="radio"]:disabled + span, .radio-nav label input[type="radio"].disabled + span {
  border: 2px solid #d6d6d6;
  color: #929292;
}

.radio-nav label input[type="radio"]:checked + span {
  border: 2px solid #ff0018;
  color: #ff0018;
}

.radio-nav label input[type="radio"]:checked:disabled + span, .radio-nav label input[type="radio"]:checked.disabled + span {
  border: 2px solid #7c373e;
  color: #5c282d;
}

.radio-nav.nav-bordered label input[type="radio"] + span {
  border-radius: 4px;
}

.radio-nav.nav-rounded label input[type="radio"] + span {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0;
}

.radio-nav.nav-filled label input[type="radio"] + span {
  border: 2px solid #ff0018;
  color: #ff0018;
}

.radio-nav.nav-filled label input[type="radio"]:disabled + span, .radio-nav.nav-filled label input[type="radio"].disabled + span {
  border: 2px solid #aa2331;
  color: #aa2331;
}

.radio-nav.nav-filled label input[type="radio"]:checked + span {
  color: #fff;
  background-color: #ff0018;
}

.radio-nav.nav-filled label input[type="radio"]:checked:disabled + span, .radio-nav.nav-filled label input[type="radio"]:checked.disabled + span {
  color: #c7c7c7;
  background-color: #aa2331;
}

.ref-items .ref-item {
  padding-top: 10px;
  display: none;
}

.ref-items .ref-item.active {
  display: block;
}

.ref-items.show-inline .ref-item {
  padding-top: 0;
}

.ref-items.show-inline .ref-item.active {
  display: inline-block;
}

.lottery-menu {
  position: relative;
}

.lottery-menu:after {
  display: table;
  content: " ";
  clear: both;
}

.lottery-menu > li {
  float: left;
  position: relative;
  display: block;
  margin-right: 4px;
}

.lottery-menu > li > a {
  display: block;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  color: #929292;
  text-decoration: none;
}

.lottery-menu > li > a.active {
  border: 1px solid #ff0018;
  color: #ff0018;
}

.lottery-menu.bordered > li > a {
  border-radius: 5px;
}

.lottery-menu.rounded > li > a {
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0;
}

.lottery-menu.filled > li > a {
  border: 1px solid #ff0018;
  color: #ff0018;
}

.lottery-menu.filled > li > a.active {
  color: #fff;
  background-color: #ff0018;
}

.lottery-menu.skew {
  padding-left: 10px;
}

.lottery-menu.skew > li {
  margin-right: 0;
}

.lottery-menu.skew > li a {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background: transparent;
  color: #ff0018;
  border: none;
}

.lottery-menu.skew > li a.active {
  background: transparent;
  color: #fff;
  z-index: 1;
}

.lottery-menu.skew > li a.active:before {
  content: " ";
  display: block;
  position: absolute;
  transform: skewX(-20deg);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: #ff0018;
  z-index: -1;
  left: 0;
}

.lottery-tab-contents .lottery-tab-content {
  display: none;
}

.lottery-tab-contents .lottery-tab-content.active {
  display: block;
}

.ps-border.all {
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
}

.ps-border.all.size-1 {
  border-width: 1px;
}

.ps-border.all.size-2 {
  border-width: 2px;
}

.ps-border.all.size-3 {
  border-width: 3px;
}

.ps-border.all.size-4 {
  border-width: 4px;
}

.ps-border.all.size-5 {
  border-width: 5px;
}

.ps-border.all.size-6 {
  border-width: 6px;
}

.ps-border.all.size-7 {
  border-width: 7px;
}

.ps-border.all.size-8 {
  border-width: 8px;
}

.ps-border.all.size-9 {
  border-width: 9px;
}

.ps-border.all.primary {
  border-color: #ff0018;
}

.ps-border.top {
  border-top-style: solid;
  border-top-color: #cecece;
  border-top-width: 1px;
}

.ps-border.top.size-2 {
  border-top-width: 2px;
}

.ps-border.top.size-3 {
  border-top-width: 3px;
}

.ps-border.top.size-4 {
  border-top-width: 4px;
}

.ps-border.top.size-5 {
  border-top-width: 5px;
}

.ps-border.top.size-6 {
  border-top-width: 6px;
}

.ps-border.top.size-7 {
  border-top-width: 7px;
}

.ps-border.top.size-8 {
  border-top-width: 8px;
}

.ps-border.top.size-9 {
  border-top-width: 9px;
}

.ps-border.top.primary {
  border-top-color: #ff0018;
}

.ps-border.right {
  border-right-style: solid;
  border-right-color: #cecece;
  border-right-width: 1px;
}

.ps-border.right.size-2 {
  border-right-width: 2px;
}

.ps-border.right.size-3 {
  border-right-width: 3px;
}

.ps-border.right.size-4 {
  border-right-width: 4px;
}

.ps-border.right.size-5 {
  border-right-width: 5px;
}

.ps-border.right.size-6 {
  border-right-width: 6px;
}

.ps-border.right.size-7 {
  border-right-width: 7px;
}

.ps-border.right.size-8 {
  border-right-width: 8px;
}

.ps-border.right.size-9 {
  border-right-width: 9px;
}

.ps-border.right.primary {
  border-right-color: #ff0018;
}

.ps-border.bottom {
  border-bottom-style: solid;
  border-bottom-color: #cecece;
  border-bottom-width: 1px;
}

.ps-border.bottom.size-2 {
  border-bottom-width: 2px;
}

.ps-border.bottom.size-3 {
  border-bottom-width: 3px;
}

.ps-border.bottom.size-4 {
  border-bottom-width: 4px;
}

.ps-border.bottom.size-5 {
  border-bottom-width: 5px;
}

.ps-border.bottom.size-6 {
  border-bottom-width: 6px;
}

.ps-border.bottom.size-7 {
  border-bottom-width: 7px;
}

.ps-border.bottom.size-8 {
  border-bottom-width: 8px;
}

.ps-border.bottom.size-9 {
  border-bottom-width: 9px;
}

.ps-border.bottom.primary {
  border-bottom-color: #ff0018;
}

.ps-border.left {
  border-left-style: solid;
  border-left-color: #cecece;
  border-left-width: 1px;
}

.ps-border.left.size-2 {
  border-left-width: 2px;
}

.ps-border.left.size-3 {
  border-left-width: 3px;
}

.ps-border.left.size-4 {
  border-left-width: 4px;
}

.ps-border.left.size-5 {
  border-left-width: 5px;
}

.ps-border.left.size-6 {
  border-left-width: 6px;
}

.ps-border.left.size-7 {
  border-left-width: 7px;
}

.ps-border.left.size-8 {
  border-left-width: 8px;
}

.ps-border.left.size-9 {
  border-left-width: 9px;
}

.ps-border.left.primary {
  border-left-color: #ff0018;
}

.no-mp .row, .table-data-list .row {
  margin-left: 0;
  margin-right: 0;
}

.no-mp .row [class*="col-"], .no-mp .row .col, .table-data-list .row [class*="col-"], .table-data-list .row .col {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 576px) {
  .no-mp-xs .row {
    margin-left: 0;
    margin-right: 0;
  }
  .no-mp-xs .row [class*="col-"], .no-mp-xs .row .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.dt-head {
  border-bottom: 1px solid #a7a7a7;
}

.dt-head > [class*="col"] .row [class*="col"] {
  border-left: 1px solid #a7a7a7;
  text-align: center;
}

.table-data-list .table-data-item {
  margin: 10px auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgba(100, 100, 100, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
}

.table-data-list .table-data-item > .row:not(:last-child) {
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.table-data-list .table-data-item .label, .table-data-list .table-data-item .info {
  padding: 5px 10px;
}

.table-data-list .table-data-item .info {
  border-left: 1px solid rgba(100, 100, 100, 0.5);
}

.d-select-number .btn {
  padding: 4px 8px;
}

.mobile-buttons .btn, .d-select-number .btn {
  border-color: slategray;
  color: slategray;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.mobile-buttons .btn:hover, .d-select-number .btn:hover {
  background: #ff0018;
  color: #fff;
}

.select-number .checklist label {
  height: 40px;
  padding: 2px;
}

.select-number .checklist label input[type="radio"] + span, .select-number .checklist label input[type="checkbox"] + span {
  padding: 5px 10px;
  border: solid 1px silver;
  color: slategray;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.select-number .checklist label input[type="radio"]:disabled + span, .select-number .checklist label input[type="radio"].disabled + span, .select-number .checklist label input[type="checkbox"]:disabled + span, .select-number .checklist label input[type="checkbox"].disabled + span {
  border: 1px solid #d6d6d6;
  background: #dadada;
  color: #8a8a8a;
}

.select-number .checklist.checklist-rounded label input[type="radio"] + span, .select-number .checklist.checklist-rounded label input[type="checkbox"] + span {
  width: 30px;
  height: 30px;
  line-height: 28px;
  padding: 0 0;
  font-size: 13px;
}

.select-number .checklist .lb {
  width: 34px;
  padding: 2px;
  text-align: center;
}

.select-number .checklist .lb label {
  height: 30px;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 576px) {
  .radio-nav label {
    height: 34px;
  }
  .radio-nav label input[type="radio"] + span {
    padding: 5px 10px;
    border: 1px solid #8f8f8f;
  }
  .radio-nav label input[type="radio"]:disabled + span, .radio-nav label input[type="radio"].disabled + span {
    border: 1px solid #d6d6d6;
    color: #929292;
  }
  .radio-nav label input[type="radio"]:checked + span {
    border: 1px solid #ff0018;
    color: #ff0018;
  }
  .radio-nav label input[type="radio"]:checked:disabled + span, .radio-nav label input[type="radio"]:checked.disabled + span {
    border: 1px solid #7c373e;
    color: #5c282d;
  }
  .radio-nav.nav-rounded label input[type="radio"] + span {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0;
  }
  .radio-nav.nav-filled label input[type="radio"] + span {
    border: 1px solid #ff0018;
    color: #ff0018;
  }
  .radio-nav.nav-filled label input[type="radio"]:disabled + span, .radio-nav.nav-filled label input[type="radio"].disabled + span {
    border: 1px solid #aa2331;
    color: #aa2331;
  }
  .radio-nav.nav-filled label input[type="radio"]:checked + span {
    border: 1px solid #ff0018;
    color: #fff;
  }
  .radio-nav.nav-filled label input[type="radio"]:checked:disabled + span, .radio-nav.nav-filled label input[type="radio"]:checked.disabled + span {
    border: 1px solid #7c373e;
    color: #aaa;
  }
}

.radio-nav.nav-sm label {
  height: 34px;
}

.radio-nav.nav-sm label input[type="radio"] + span {
  padding: 5px 10px;
  border: 1px solid #8f8f8f;
}

.radio-nav.nav-sm label input[type="radio"]:disabled + span, .radio-nav.nav-sm label input[type="radio"].disabled + span {
  border: 1px solid #d6d6d6;
  color: #929292;
}

.radio-nav.nav-sm label input[type="radio"]:checked + span {
  border: 1px solid #ff0018;
  color: #ff0018;
}

.radio-nav.nav-sm label input[type="radio"]:checked:disabled + span, .radio-nav.nav-sm label input[type="radio"]:checked.disabled + span {
  border: 1px solid #7c373e;
  color: #5c282d;
}

.radio-nav.nav-sm.nav-rounded label input[type="radio"] + span {
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0;
}

.radio-nav.nav-sm.nav-filled label input[type="radio"] + span {
  border: 1px solid #ff0018;
  color: #ff0018;
}

.radio-nav.nav-sm.nav-filled label input[type="radio"]:disabled + span, .radio-nav.nav-sm.nav-filled label input[type="radio"].disabled + span {
  border: 1px solid #aa2331;
  color: #aa2331;
}

.radio-nav.nav-sm.nav-filled label input[type="radio"]:checked + span {
  border: 1px solid #ff0018;
  color: #fff;
}

.radio-nav.nav-sm.nav-filled label input[type="radio"]:checked:disabled + span, .radio-nav.nav-sm.nav-filled label input[type="radio"]:checked.disabled + span {
  border: 1px solid #7c373e;
  color: #aaa;
}

@media (max-width: 768px) {
  .dataTables_wrapper .dataTables_info {
    padding-left: 15px;
  }
  .dataTables_wrapper .dataTables_paginate .pagination {
    justify-content: center !important;
  }
}

table th, table td {
  word-wrap: break-word;
}

.smart-table th .ms-checkbox-wrap, .smart-table td .ms-checkbox-wrap {
  margin-right: 0;
}

.smart-table.sortable th .ms-checkbox-wrap, .smart-table.sortable td .ms-checkbox-wrap, .smarttable th .ms-checkbox-wrap, .smarttable td .ms-checkbox-wrap {
  margin-right: 0;
}

.smart-table.sortable thead tr th, .smarttable thead tr th {
  vertical-align: top;
  cursor: pointer;
}

.smart-table.sortable thead tr th i, .smarttable thead tr th i {
  float: right;
  color: #b8b8b8;
}

.smart-table.sortable thead tr th[data-active], .smart-table.sortable thead tr th[data-sortby], .smarttable thead tr th[data-active], .smarttable thead tr th[data-sortby] {
  position: relative;
  padding-right: 25px;
}

.smart-table.sortable thead tr th[data-active] i, .smart-table.sortable thead tr th[data-sortby] i, .smarttable thead tr th[data-active] i, .smarttable thead tr th[data-sortby] i {
  opacity: 0.7;
  position: absolute;
  right: 10px;
  top: 12px;
  margin-right: 0px;
}

.smart-table.sortable thead tr th[data-active] i.fa-sort-up, .smart-table.sortable thead tr th[data-sortby] i.fa-sort-up, .smarttable thead tr th[data-active] i.fa-sort-up, .smarttable thead tr th[data-sortby] i.fa-sort-up {
  top: 18px;
}

.smart-table.sortable thead tr th[data-active] i.fa-sort-down, .smart-table.sortable thead tr th[data-sortby] i.fa-sort-down, .smarttable thead tr th[data-active] i.fa-sort-down, .smarttable thead tr th[data-sortby] i.fa-sort-down {
  top: 10px;
}

.smart-table.sortable thead tr th[data-active="actived"] i, .smart-table.sortable thead tr th:hover i, .smarttable thead tr th[data-active="actived"] i, .smarttable thead tr th:hover i {
  opacity: 1;
  color: #7e7e7e;
}

.smart-table.sortable.thead-primary tr th i, .smarttable.thead-primary tr th i {
  color: #fafafa;
}

.smart-table.sortable.thead-primary tr th[data-active="actived"], .smart-table.sortable.thead-primary tr th:hover, .smart-table.sortable.thead-primary tr th span, .smarttable.thead-primary tr th[data-active="actived"], .smarttable.thead-primary tr th:hover, .smarttable.thead-primary tr th span {
  color: #fff;
}

.smart-table.sortable.thead-primary tr th[data-active="actived"] i, .smart-table.sortable.thead-primary tr th:hover i, .smart-table.sortable.thead-primary tr th span i, .smarttable.thead-primary tr th[data-active="actived"] i, .smarttable.thead-primary tr th:hover i, .smarttable.thead-primary tr th span i {
  color: #fff;
}

.screen-name {
  margin-bottom: 0;
  line-height: 30px;
}

.ms-form-wizard ul[role="tablist"] li.current ~ .done {
  background: #e4e3e8;
  background-color: #e4e3e8;
}

.ms-form-wizard ul[role="tablist"] li.current ~ .done a {
  color: #95959e;
}

.ms-has-notification::after {
  content: attr(badge-count);
  position: absolute;
  top: -11px;
  right: -10px;
  border-radius: 50%;
  border: 1px solid #fff;
  min-width: 21px;
  height: 21px;
  background: #ff0018;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
