<div class="tab-inner">
    <h2>{{ 'Info' | translate }}</h2>
    <div class="store info-form">
        <ng-container *ngIf="asyncForm; then formTemplate; else waitTemplate"></ng-container>
        <ng-template #formTemplate>
            <div class="inputs">
                <inp-text-group name="name" label="Project Name" [(value)]="info.name" placeholder="Enter Name" (subcribe)="onInpChange($event)" class="inp-group-item-first"></inp-text-group>
                <inp-select-group name="category_id" [(value)]="info.category_id" [options]="categoryOptions" label="Category" (subcribe)="onInpChange($event)" class="inp-group-item"></inp-select-group>
                <inp-textarea-group name="description" [(value)]="info.description" label="Description" placeholder="Enter Description" (subcribe)="onInpChange($event)" class="inp-group-item"></inp-textarea-group>
                <inp-radio-group name="status" [(value)]="info.status" [options]="privacyStatusOptions" label="Status" (subcribe)="onInpChange($event)" class="inp-group-item"></inp-radio-group>
                <inp-switch-group name="allow_custom" [(value)]="info.allow_custom" label="Allow Custom in View" (subcribe)="onInpChange($event)" class="inp-group-item"></inp-switch-group>
                
            </div>
        </ng-template>
        <ng-template #waitTemplate>
            <div class="sys-alert">
                <h2>Vui lòng chờ...</h2>
            </div>
        </ng-template>

    </div>

</div>