<div class="main">
  <div class="left">
    <form nzLayout="vertical" nz-form (submit)="onSumbit()" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label> {{ 'Old password' | translate }} * </nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordOldErrorTpl">
          <input type="password" formControlName="currentPassword" nz-input nzRequired minlength="6" maxlength="20" />
          <ng-template #passwordOldErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"> Nhập từ 6 đến 20 ký tự </ng-container>
            <ng-container *ngIf="control.hasError('whitespace')"> Nhập phải bao gồm cả ký tự </ng-container>
            <ng-container *ngIf="control.errors && control.errors.length > 0">
              <div *ngFor="let e of control.errors">
                {{ e.message }}
              </div>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label> {{ 'New password' | translate }} * </nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordNewErrorTpl">
          <input
            type="password"
            formControlName="newPassword"
            nz-input
            nzRequired
            minlength="6"
            maxlength="20"
            (keyup)="onKeyupAgainPassword(inputAgainPassword.value)"
          />
          <ng-template #passwordNewErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"> Nhập từ 6 đến 20 ký tự </ng-container>
            <ng-container *ngIf="control.hasError('whitespace')"> Nhập phải bao gồm cả ký tự </ng-container>
            <ng-container *ngIf="control.errors && control.errors.length > 0">
              <div *ngFor="let e of control.errors">
                {{ e.message }}
              </div>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label> {{ 'New password 2' | translate }} * </nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordNew2ErrorTpl">
          <input
            #inputAgainPassword
            type="password"
            formControlName="againPassword"
            nz-input
            nzRequired
            minlength="6"
            maxlength="20"
            (keyup)="onKeyupAgainPassword(inputAgainPassword.value)"
          />
          <ng-template #passwordNew2ErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"> Nhập từ 6 đến 20 ký tự </ng-container>
            <ng-container *ngIf="control.hasError('notmatch')"> Mật khẩu mới không giống nhau </ng-container>
            <ng-container *ngIf="control.hasError('whitespace')"> Nhập phải bao gồm cả ký tự </ng-container>
            <ng-container *ngIf="control.errors && control.errors.length > 0">
              <div *ngFor="let e of control.errors">
                {{ e.message }}
              </div>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        style="margin-top: 24px"
        nz-button
        nzType="primary"
        [disabled]="validateForm.invalid"
        [nzLoading]="updateProfilePasswordLoading$ | async"
      >
        Đổi mật khẩu
      </button>
    </form>
  </div>
</div>
