@media screen and (min-width: 1200px) {
  .top-banner {
    min-height: var(--screen-xl-height-without-header);
  }
  .top-banner .carousel .carousel-item {
    height: var(--screen-xl-height-without-header);
  }
  .top-banner .carousel .carousel-item .slide-text .slide-title {
    font-size: 96px;
  }
  .top-banner .carousel .carousel-item .slide-text .slide-description {
    margin-top: -15px;
    font-size: 25px;
  }
}
