<div class="collapse" [class.expand]="show">
    <div class="collapse-header" (click)="toggle()">
        <h3 class="title">{{title}}</h3>
        <div class="toggle-icon">
            <ng-container *ngIf="show; then showTemplate; else hideTemplate"></ng-container>
            <ng-template #showTemplate>
                <i nz-icon nzType="down" nzTheme="outline"></i>
            </ng-template>
            <ng-template #hideTemplate>
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </ng-template>
        </div>
    </div>
    <div class="collapse-body" *ngIf="show">
        <div class="inputs">
            

            <div *ngFor="let inp of inputs; let i=index">
                <div [ngSwitch]="inp.type">
                
                    <inp-number-group *ngSwitchCase="'number'" [name]="inp.name" [value]="inp.value" [label]="inp.name" [spin]="inp.spin" [min]="inp.min" [max]="inp.max" (subcribe)="inputChange($event)" [class.inp-group-item]="i > 0" [class.inp-group-item-first]="i == 0"></inp-number-group>
                    <inp-switch-group *ngSwitchCase="'boolean'" [name]="inp.name" [value]="inp.value" [label]="inp.name" (subcribe)="inputChange($event)" [class.inp-group-item]="i > 0" [class.inp-group-item-first]="i == 0"></inp-switch-group>
                    <inp-text-group *ngSwitchDefault [name]="inp.name" [value]="inp.value" [label]="inp.name" (subcribe)="inputChange($event)" [class.inp-group-item]="i > 0" [class.inp-group-item-first]="i == 0"></inp-text-group>
                </div>
            </div>
        </div>
    </div>
</div>