.folder-navigator {
  display: flex;
  justify-content: space-between;
  .control {
    [nz-button] {
      margin-right: 8px;
      margin-bottom: 12px;
    }
  }
}
.folders {
  .folder {
    margin-bottom: 24px;
    a {
      display: flex;
      align-items: center;
      color: #262626;
    }
    .feature {
      background-image: url(/assets/icons/new-design/tab-file/add-new-folder.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 48px;
      height: 38px;
    }
    .name {
      margin-left: 16px;
    }
  }
}
