.text {
  margin-bottom: 8px;
}

.item-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  border: 0 solid transparent;
  position: relative;
  background-color: #2f3541;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  line-height: 1;
  height: 36px;
  &:hover {
    background-color: #20242d;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

.text-heading {
  .item-text {
    div.text-content {
      font-size: 24px;
      font-weight: 500;
      // text-align: center;
      width: 100%;
    }
  }
}

.text-subheading {
  .item-text {
    div.text-content {
      font-size: 20px;
      font-weight: 500;
      // text-align: center;
      width: 100%;
    }
  }
}

.text-body {
  .item-text {
    div {
      font-size: 16px;
      font-weight: 400;
      // text-align: center;
      width: 100%;
    }
  }
}

h2 {
  line-height: 1;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 600;
  padding: 0 16px;
}

.text-right {
  text-align: right;
}
.delete {
  display: inline-block;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 18px;
  line-height: 36px;

  cursor: pointer;
  &.active,
  &:hover {
    background: #ebebeb;
    color: #000;
  }
}

.light-name {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}
.light-group {
  align-content: center;
  align-items: center;
}
